[2017-05-26 12:36] paulmolluzzo opened #5 "Add Documentation"
There is a URL `/docs` that we'd like to populate with documentation. The documentation that we have now is all piled into the [README of `glamorous`](https://github.com/paypal/glamorous/blob/master/README.md).

Ideally the documentation we store will be in markdown to make it easy or other people to contribute.

Since there is no content just yet, there's a lot of flexibility on how to structure

[2017-05-26 12:47] paulmolluzzo opened #6 "Complete Site Design; Use Theme Provider"
The site's design could use lots of attention, and while it's being done we may want to move global style choices (colors, typography, etc) into a `ThemeProvider` and then use the `ThemeProvider` in the `layout` component.

Further, there is a mix of uses of `glamorous` in this site. There are `inline` component definitions and `glamorousComponentFactory` definitions, which makes it a little harde

[2017-05-26 12:51] paulmolluzzo opened #7 "Add in Internationalization and language support"
In the original [CodeSandbox](https://codesandbox.io/s/59XX9B1MR) there was support for several languages, but in the initial port to `next` it was not preserved.

We'd like internationalization that supports language selection and will modify all of the UI content (nav, footer, buttons) and when #5 is complete, should also be used to load the correct translation of the documentation.

The CodeSan

[2017-05-26 16:08] hozefaj opened #8 "Code Site Designs"
creating wireframes with sketch so that the look n feel of the website is agreed upon.

[2017-05-26 16:30] liadbiz commented on #5
@paulmolluzzo yeah, this is what I am planing to do, actually some works have been done.
my plan about /docs stucture:
+ basics
  + install.md
  + get_started.md
  + core_concepts.md
  + props.md
  + theme.md
  + context.md
 ...
+ guide
  + size.md
  + animation.md
  + media_query.md
  + server_rendering.md
  + helper_function.md
...
+ api
  + api.md

I have made a experimental [repo](https://gith

[2017-05-26 18:03] paulmolluzzo opened #10 "CI with Travis or CodeCov"
This is a chore for @kentcdodds I think:

We should set up Travis or CodeCov to have automated testing for PRs.

[2017-05-26 18:06] paulmolluzzo opened #11 "Add in License, Contributing, Code of Conduct, etc"
We'd like to have this as a MIT licensed project, but there isn't any LICENSE file yet.

In addition, we should probably add a Contributing file and Code of Conduct.

Any other neat things we can think of (PR templates, commitzen, etc.) could be helpful too. Whatever makes it easy for people to contribute! 😄

[2017-05-26 18:10] paulmolluzzo commented on #5
@liadbiz please take a look at #9 and let me know your thoughts. Maybe we can get it sorta working with one file, merge it, then you can split it up and get the other files with individual routes and a subnav working?

[2017-05-26 19:46] kentcdodds commented on #10
Yeah, that would be very helpful. Especially this: https://github.com/zpnk/stage-ci

[2017-05-26 19:47] kentcdodds commented on #11
Yeah, I should have bootstrapped this project with my generator to get most of that stuff by default 😅 I'll get to that ASAP.

[2017-05-26 19:48] kentcdodds commented on #5
@liadbiz, I like that structure. Though for the `api` it may be useful to split it out into multiple pages because the API is kinda big. But maybe not 🤔

[2017-05-26 20:28] kentcdodds opened #12 "Use React Live?"
I'm pretty sure this is what Styled-Components uses for their site: https://react-live-demo.philpl.com/

[2017-05-26 20:37] paulmolluzzo commented on #12
Yes! Let's do that!

[2017-05-26 23:06] jonmajorc commented on #8
Here is a quick wireframe of what I was thinking styling would look like for the landing page... Let me know your feedback. This didn't take long to do, so I can always make more edits if no one is digging this look. We can always add more things to the landing page too, so let me know your feedback!
![home-page](https://cloud.githubusercontent.com/assets/7799266/26515151/84a42ddc-423d-11e7-9b1d-d

[2017-05-26 23:08] kentcdodds commented on #8
Wow Jon! This is great! I love it! I wonder if we can make some of the font bigger? I'd like to avoid anything much smaller than ~16px

I wonder what @Connorelsea could add to this. He designed much of the JavaScript Air website and I was really pleased with that. And it just so happens that he's using glamorous too! Woo!

[2017-05-26 23:09] kentcdodds commented on #8
I'm actually thinking the subtle gradient that he had on his version of the glamorous logo might go well on this page... 🤔

[2017-05-26 23:17] jonmajorc commented on #8
Thanks kent! Font could be increased for sure! That sounds like a good plan, and Definitely! Javascript Air's website is awesome...

[2017-05-26 23:18] jonmajorc commented on #8
@kentcdodds can you share that logo version or point me to where I can look? 🙂

[2017-05-27 00:03] kentcdodds commented on #8
See here: https://m.imgur.com/a/0dsc3
And here: https://github.com/paypal/glamorous/pull/77

[2017-05-27 02:26] liadbiz commented on #8
looks really good! :+1:

[2017-05-27 15:05] paulmolluzzo commented on #12
I was thinking, this is a fantastic way to show examples, but I wouldn't even know where to put them on the site. 😀

What do we want to put in the guides vs what goes in the examples? I'm not sure what the difference is.

I was thinking that this would be good for guides that _are_ examples, and they're live with `react-live`. We can do a guide on making a custom component, extending a component,

[2017-05-27 15:07] kentcdodds commented on #12
Let's do that, but add an "Integrations" section for stuff like polished, next, etc.

[2017-05-27 16:51] jonmajorc commented on #8
Hey, with #12 are we wanting to have on the landing page a React Live to allow users to play with glamorous right away?

[2017-05-27 17:09] paulmolluzzo commented on #8
Yes. The homepage should have installation instructions, a link/badges for the GitHub repo, and a basic example at a minimum.

[2017-05-27 17:11] kentcdodds commented on #8
Agreed!

[2017-05-28 16:01] kentcdodds commented on #10
Sorry. I've been busy. I activated travis on the repo so we should be good to just add a `.travis.yml` and have it work. Codecov will work out of the box. Just need to start sending stuff.

[2017-05-28 19:56] jonmajorc commented on #8
Hope you all can use your imagination! 😄 1) The black box underneath glamorous would be the React Live (Probably editing something live on the page... 😉 ) 2) Used By section, if we would have one, would have the companies that use Glamorous. 3) I figure "Installation", "The Problem", and "The Solution" would be useful to have on the landing page for content 4) I did not pick out the Type Face, I a

[2017-05-28 22:31] kentcdodds commented on #8
Love it! Some thoughts:

It feels like to much for the home page. We can probably just leave off all the badges. Installation could probably just be a single line (with a link to more info). Actually, all the stuff in the second section could maybe just go in a getting started guide 🤔

[2017-05-28 22:43] paulmolluzzo commented on #8
This is excellent! I agree with @kentcdodds and have some general thoughts:

* I'd remove most of the badges. GitHub, npm, license, sizes. That's what people want to know i think.
* I'd ditch the square logo, we have three logo styles on the page.
* We really just need the installation and a simple example _in that order_, so I'd move the example box down.
* The tag line can be above the fold belo

[2017-05-28 23:59] jonmajorc commented on #8
Thanks @kentcdodds and @paulmolluzzo for your feedback! I am not a designer but I am trying to fill that void! 😜 Paul, I can send more details around colors, font, and etc.. From both of your feedback I made some changes! I have three new exports! I will post them separate 😄

[2017-05-28 23:59] jonmajorc commented on #8
![home_simple](https://cloud.githubusercontent.com/assets/7799266/26533045/d0972244-43d7-11e7-8378-43ea1869917a.png)

[2017-05-29 00:00] jonmajorc commented on #8
![home_little_of_everything](https://cloud.githubusercontent.com/assets/7799266/26533048/de2aab56-43d7-11e7-874a-6a6a0169681d.png)

[2017-05-29 00:00] jonmajorc commented on #8
![home_badges_no_usedby](https://cloud.githubusercontent.com/assets/7799266/26533050/e61e2ca2-43d7-11e7-9887-c2bbc8ffb645.png)

[2017-05-29 00:51] kentcdodds commented on #8
These are all so awesome! I just realized that the `$ support` badge is on  there. That's on my repos by default but because this is a PayPal project, we should probably remove it 😅

I'll give a little more feedback later. Looks super awesome!

[2017-05-29 20:02] paulmolluzzo commented on #8
@jonmajorc would you mind dropping relevant measurements, colors, etc here please? We now have a `ThemeProvider` implementation and we can really start digging into the design implementation.

[2017-05-29 20:03] paulmolluzzo commented on #10
Handled this with #15.

[2017-05-29 20:03] #10 closed

[2017-05-29 20:03] paulmolluzzo commented on #11
Fixed in #15.

[2017-05-29 20:03] #11 closed

[2017-05-29 20:04] paulmolluzzo commented on #6
`ThemeProvider` was added in #16

[2017-05-30 03:55] jonmajorc commented on #8
@paulmolluzzo yeah for sure! let me reply tomorrow morning with everything. Its been tough getting spacing to look good in these wireframes, because the glamorous header with the logo and the "g" in the background is one resource. I did do another iteration that I forgot to share too. This one has better spacing between components.
![home](https://cloud.githubusercontent.com/assets/7799266/2656756

[2017-05-30 04:02] kentcdodds commented on #8
I think I like that last one best :+1: looks sooo great!

[2017-05-30 04:04] kentcdodds commented on #8
Though I'd probably remove all the badges still. And instead of all the `prose` in "Installation", I'd simply put the text: `npm install --save glamorous react glamor prop-types` centered and with a dark background. We could link to the getting started guide with more info.

[2017-05-30 06:41] bulby97 commented on #6
@paulmolluzzo I plan to make the homepage today, is there anyone already on it ?
Btw, what do you think about adding prettier-standard ?

[2017-05-30 11:57] paulmolluzzo commented on #6
@bulby97 Go for it! There are designs in #8 and more info there.

You might want to open a separate issue about `prettier-standard` so we can discuss. I've never used it before.

[2017-05-30 12:43] kentcdodds commented on #6
Actually, I'm going to set this up with `prettier-eslint` with my own config (consistent with the `glamorous` repo. Will make a PR momentarily.

[2017-05-30 16:44] jonmajorc commented on #8
I like the way you think Kent! 💯

@kentcdodds @paulmolluzzo @hozefaj @liadbiz to get started on using the `ThemeProvider` for centralizing colors and stuff, you can head over to this [link](https://www.figma.com/file/cDAmmx2RLFa6yuQq8r6cpXt5/glamorous-sketch-resources-Welcome) to get started. Let me know if you want things exported as images and etc. for convenience! 👍  Also, if you want edit righ

[2017-05-30 16:49] kentcdodds commented on #8
Yes! This is the winner! I love it! Thanks for all the work you've put into this :)

[2017-05-30 16:52] jonmajorc commented on #8
Yeah, of course! Look forward into helping more 😄

Let's code this out! 👊

[2017-05-30 17:12] kentcdodds commented on #8
Fantastic. Work has begun in #17

[2017-05-30 18:03] kentcdodds opened #21 "Twitter card"
Before we officially announce the website, we should probably have a slick looking twitter preview card for it so when folks tweet about it, they see something awesome (in addition to the equally awesome domain: https://glamorous.rocks/)

So I'd love to get some mocks together for a good twitter card. We could do small:

<img width="607" alt="screen shot 2017-05-30 at 11 59 45 am" src="https://clo

[2017-05-30 18:19] paulmolluzzo commented on #21
Let's do a large one.

@jonmajorc can you pull an image from the design? I love the way you did the logo and name with the large, faint `g` background in the homepage.

[2017-05-30 19:58] iamrudra commented on #21
Happy to look into this if someone else isn't.

[2017-05-30 20:01] kentcdodds commented on #21
Go for it! 👍

[2017-05-30 20:06] iamrudra commented on #21
This is the image we want for the card, right? Confirming as @paulmolluzzo has mentioned something about a faint `g` which I do not see on the current website.

![image](https://cloud.githubusercontent.com/assets/12117759/26602550/b52cdf3c-4538-11e7-9d7c-d5bab7594bdf.png)

[2017-05-30 20:07] kentcdodds commented on #21
See the current wireframe: #8

[2017-05-30 21:39] kentcdodds commented on #21
So I think that we're going to want [`summary-large-image`](https://dev.twitter.com/cards/types/summary-large-image). Here's a [markup reference](https://dev.twitter.com/cards/markup).

[2017-05-30 21:40] kentcdodds commented on #21
You'll probably make your changes to https://github.com/kentcdodds/glamorous-website/blob/master/pages/_document.js

I'd recommend making special component that's responsible for just these `meta` tags and using that component in `_document.js`

[2017-05-30 21:41] iamrudra commented on #21
Here's the compressed image -

![glamorous_logo](https://cloud.githubusercontent.com/assets/12117759/26606249/13df3414-4546-11e7-9ce4-e5107f181699.png)

[2017-05-30 21:43] kentcdodds commented on #21
I wonder if we should add some descriptive text to it. If I saw that in my feed, I probably wouldn't be as interested. But if it said: "Maintainable CSS with React" in below "glamorous" then I'd be more inclined to look into it.

Also, does the text look off-center to anyone else?

[2017-05-30 21:44] paulmolluzzo commented on #21
Yes this does go in the `_document.js`, and I agree with @kentcdodds about a separate component.

If we want to have a _different_ card for each page we can do this with the `Head` component provided by `next`, but I don't know that we need that.

[2017-05-30 21:47] kentcdodds commented on #21
Yeah, we can do more dynamic stuff later.

[2017-05-30 22:07] paulmolluzzo commented on #6
@kentcdodds I think we can close this ticket since most of the "core" design is done, and we still have #8 open to work from. If you agree just close out this issue. Thanks!

[2017-05-30 22:08] kentcdodds opened #23 "Check accessibility"
In particular, we should verify color contrast and font sizes are accessible :+1: we already have `eslint-plugin-jsx-a11y` which is really helpful for many things. Would be great to just make sure our design is accessible to people :+1:

[2017-05-30 22:09] #6 closed

[2017-05-30 22:22] paulmolluzzo commented on #21
The text is _barely_ too far left (21px by my measurement), but the lipstick adds weight to the left which is what's throwing you off. Maybe we want to treat the lipstick and the text as a single lockup and center that, which would mean moving the lockup to the right about `100px`.

Also, there's a white triangular artifact  ~165px below the lipstick icon.

[2017-05-30 22:23] kentcdodds commented on #21
Ah, yeah, good catch. @jonmajorc could you get us a sweet new image based on the specifications [here](https://dev.twitter.com/cards/types/summary-large-image)?

[2017-05-30 23:42] iamrudra commented on #21
It'd be nice to have access to the sketch/design files, if possible. So that things can be iterated upon by folks when needed.

[2017-05-30 23:46] jonmajorc commented on #21
@kentcdodds let me look into the specifications and see what I can do!

[2017-05-30 23:57] jonmajorc commented on #21
Twitter Card size is 600 x 330. Also that blemish @paulmolluzzo found is fixed too! Good eye!! 👀 👍
![twitter card](https://cloud.githubusercontent.com/assets/7799266/26609868/93946738-4569-11e7-9207-9ba84a80fe95.png)

[2017-05-31 00:00] iamrudra commented on #21
@jonmajorc - Am I missing something here? The [twitter doc](https://dev.twitter.com/cards/types/summary-large-image) for summary card with large image says -

[2017-05-31 00:03] jonmajorc commented on #21
@iamrudra their example was 600 x 330, so I decided to run with that size first and then if anything we can scale it up if need be 😄, but we could go big or go home!

[2017-05-31 00:04] paulmolluzzo commented on #12
Started working on this for the home page. It's also setting up the components and whatnot for all the examples. Look for something tonight.

[2017-05-31 00:11] kentcdodds commented on #21
Could we do the maximum size they mention? Better resolution and stuff 😀

[2017-05-31 00:16] iamrudra commented on #21
Also, we will need the following details for the card:

- site: `Twitter Handle for Glamorous`
- creator: `Usually the author of the article but we can keep it same as glamorous`
- title: `Glamorous: Maintainable CSS with React` (Working title)
- Description: `TBD`
- Image: `URL of image`
- URL: `Website` (https://glamorous.rocks)

[2017-05-31 00:22] paulmolluzzo commented on #21
Let's start at the max as @kentcdodds suggested. The image can be loaded from `/static/` like all other assets.

For whoever does this, once the PR is open the CI we have for staging should provide a public URL we can pass through Twitters validator.

@jonmajorc design assets can go in some directory I guess? Or maybe we want a separate repo just for artifacts? Ideally we'll get all the design com

[2017-05-31 00:52] jonmajorc commented on #21
Going big am not going home! (compressed too with tinypng.com. Thanks @iamrudra!)
![twittercard](https://cloud.githubusercontent.com/assets/7799266/26611099/74c2a45c-4571-11e7-8290-dbdc822339be.png)

[2017-05-31 02:09] jonmajorc commented on #21
If you are looking for the design resources: https://www.figma.com/file/KUro18mAUhgFixMt61hTn0ja/Glamorous

[2017-05-31 02:29] paulmolluzzo commented on #12
😍  https://glamorous-website-pr-improve-homepage.now.sh/

[2017-05-31 16:56] #12 closed

[2017-05-31 17:00] kentcdodds commented on #21
Love it!

[2017-05-31 17:05] iamrudra commented on #21
Preview of the card! :)

![image](https://cloud.githubusercontent.com/assets/12117759/26644134/9b3c2f78-45e8-11e7-9600-bb08b40efb5b.png)

[2017-05-31 17:08] kentcdodds commented on #21
OH SNAP! That's soooo awesome! 😍

Check this out: https://twitter.com/glamorousCSS :)

[2017-05-31 17:10] iamrudra commented on #21
Nice. We have a handle. Can we finalize the details of the content so we can wrap this one up?

[2017-05-31 17:12] kentcdodds commented on #21
I've slightly modified what @jonmajorc had:

[code]

[2017-05-31 18:32] kentcdodds opened #26 "Finish design"
This looks kinda funny

<img width="473" alt="screen shot 2017-05-31 at 12 32 13 pm" src="https://cloud.githubusercontent.com/assets/1500684/26647668/446531e4-45fd-11e7-9c3d-83116dc0a9c2.png">

[2017-05-31 18:33] kentcdodds commented on #26
Also not sure these colors contrast enough to be accessible #23

[2017-05-31 18:43] paulmolluzzo commented on #26
Let's just do a white BG then.

[2017-05-31 18:43] kentcdodds commented on #26
I wonder if we could make the code blocks syntax highlighted 🤔

[2017-05-31 18:44] kentcdodds commented on #26
Or even better, instead of code blocks, most of them could be ReactLive right?

<img width="972" alt="screen shot 2017-05-31 at 12 44 18 pm" src="https://cloud.githubusercontent.com/assets/1500684/26648198/eb02b318-45fe-11e7-8e09-73d278b09454.png">

[2017-05-31 18:50] paulmolluzzo commented on #26
There are options in `marked`, and I think we can do highlighting.

We can make them `react-live` but it won't have that codepen-style like you linked. It'll have the preview above it like on the homepage. If we want that style we need to style it differently.

Also, if we do live embeds we're embedding a component in the markdown, so that's something someone will have to get done and _might_ make

[2017-05-31 18:51] bulby97 commented on #26
Yeah my bad for the pink background. It's because of the way I needed to implement the "g + pink background" in the main layout. So you need to specify a white background for every main container in a page :/

[2017-05-31 18:55] kentcdodds commented on #26
No worries, we're moving fast and breaking things :)

I really like the React Live stuff so yeah, let's make that happen. I wonder if we could do something with https://github.com/threepointone/markdown-in-js

[2017-05-31 18:56] paulmolluzzo commented on #26
Put the background color on the pseudo element?

Or make the markdown wrapper have the background color white.

[2017-05-31 18:58] paulmolluzzo commented on #26
@kentcdodds https://github.com/threepointone/markdown-in-js/issues/9

[2017-05-31 18:59] kentcdodds commented on #26
I feel no shame in basically taking heavy inspiration with regards to design from the styled-components website:

![screen shot 2017-05-31 at 12 57 40 pm](https://cloud.githubusercontent.com/assets/1500684/26648781/d5145f32-4600-11e7-92c3-bdff84559704.png)

I'd like to move nav to the left (I think we've got an issue for that) on desktop and this experience for mobile:

![stuff](https://cloud.gith

[2017-05-31 19:00] kentcdodds commented on #26
Ah, gotcha with that markdown issue. We'll have to come up with something else then. 🤔  Definitely want to make it easy to translate :)

[2017-05-31 19:06] paulmolluzzo commented on #26
I hear you on the translation. This is why I went the way I did for the markdown, but I'm cool with a better solution if we can find one.

As for the nav and links, I agree with @kentcdodds. We can add links to the markdown in the webpack config for `marked`. The nav itself will have to be creative to be dynamic. (Like pull the headings out of the markdown or something).

I'm also still bothered t

[2017-05-31 19:09] kentcdodds commented on #26
I'd be fine putting stuff in non-`.md` files as long as editing the docs is simple enough. Though I'm not sure how crowdin works so that may not be possible. I'm looking into it right now.

[2017-05-31 19:42] iamrudra commented on #26
I think using white background in the code block might also work. Do we want to give that a try first?

[2017-05-31 19:51] jonmajorc commented on #26
I tried it with a darker blue. Been busy today to keep up with the conversation!
![image](https://cloud.githubusercontent.com/assets/7799266/26650817/436f76d8-4610-11e7-8762-dc187201e12e.png)

[2017-05-31 19:54] iamrudra opened #29 "Change the favicon"
Problem description:
The current favicon is too tiny to make sense out of - Neither the lipstick nor the name is visible. I feel it is because of the too too much surrounding white space.

Suggested solution:
Can we use one of the other logos that we have - The lipstick with g on the side or the background, etc? Or just the lipstick with the braces?

[2017-05-31 20:05] kentcdodds commented on #5
Alrighty, so after a lot of trial and error, I got Crowdin set up on the repo. You can see the project [here](https://crowdin.com/project/glamorous-website). [Here](https://www.youtube.com/watch?v=F69lAvAKxE4) is a promo video that explains what crowdin is.

So now we need to break up the `main.md` file into smaller bits for all of the pages that we want and start working on the basics/guide/integ

[2017-05-31 20:19] kentcdodds commented on #5
Ok, I think that we're ready to start getting help from folks. A lot of stuff can be pulled out of [the glamorous README.md](https://github.com/paypal/glamorous/blob/master/README.md) and [the examples](https://github.com/paypal/glamorous/tree/master/examples).

You know what... I just thought... I wonder if crowdin could work with a file like this:

[code]

If that's possible, that'd be pretty aw

[2017-05-31 20:23] kentcdodds commented on #5
Ok, so that's not going to work very well I'm afraid...

![bad-maybe](https://cloud.githubusercontent.com/assets/1500684/26652322/c3103f66-460c-11e7-8934-6f0f13519998.gif)

[2017-05-31 20:37] kentcdodds commented on #5
So it seems to me that we'll need to come up with some way to load the markdown and dynamically swap bits out of it for whatever we want. I don't think that'll be impossible. Something like:

[code]

Then we'd do something like:

[code]

I think that `ourFancyMarkdownThing` would dynamically load the markdown file (render a loading thing while the user's waiting) and interpolate the `EXAMPLE_THING

[2017-05-31 20:45] kentcdodds commented on #5
We might also do something like:

[code]

And then replace any code block with React-Live. Thoughts on that?

[2017-05-31 20:48] kentcdodds commented on #26
Cool! Wonder if we can bump the font size 🤔

[2017-05-31 20:49] kentcdodds commented on #29
Yeah, let's use this one:

![compact](https://cloud.githubusercontent.com/assets/1500684/26653431/578e2c9a-4610-11e7-9450-08263ffa84eb.png)

Maybe crop out all the extra whitespace. Would actually look better transparent. Maybe @Connorelsea can provide us with a transparent version?

[2017-05-31 21:26] iamrudra commented on #29
I can extract a transparent one from the source files that were provided in #21

[2017-05-31 21:59] kentcdodds commented on #29
Yup, I wonder whether @Connorelsea could provide source files like that. Pretty neat!

[2017-05-31 22:09] kentcdodds commented on #21
Cool! So this has been merged #30 so we're good. Though I just realized something. We should probably only make that show up for the homepage. It really is only necessary for when folks are tweeting something like: "Hey check out glamorous.rocks!" Boom! Big image that's awesome. But it would be really annoying if someone tweeted: "The answer to your question is in the docs: glamorous.rocks/docs/th

[2017-05-31 22:25] iamrudra commented on #21
Agree. Can you point me where to look at for make it home page specific only?

[2017-05-31 23:23] kentcdodds commented on #21
I'm not sure, but I expect that `_document.js` (where you made the original changes) has some props that can tell you what page is being loaded or something 🤔 I'm still new to next.js :)

[2017-05-31 23:46] paulmolluzzo commented on #21
You can populate the `head` like this: https://github.com/zeit/next.js/blob/v3-beta/readme.md#populating-head

[2017-06-01 07:20] kentcdodds commented on #21
Oh, that's pretty cool! So we should probably move the existing `meta` tags to the `index.js` file using that method :+1:

[2017-06-01 12:45] jonmajorc commented on #26
Would it be best to make mobile wireframes for everyone?

[2017-06-01 13:01] kentcdodds commented on #26
Yeah, more designs would definitely help 👍

[2017-06-01 14:12] jonmajorc commented on #26
On it! I should hopefully have something by tonight with anything from mobile and/or other pages. 👍

[2017-06-01 14:17] kentcdodds commented on #26
Awesome!

[2017-06-02 05:22] jonmajorc commented on #26
More to come but here are some pics 😃

Cleaned up the home page. 1) Removed navbar and made it similar to styled-components navigation is handled after you go to the documentation.
![home](https://cloud.githubusercontent.com/assets/7799266/26711801/9e7f5ba6-4728-11e7-9912-acca9b942ae7.png)
Responsive mobile landing page.
![home_mobile](https://cloud.githubusercontent.com/assets/7799266/26711818/b6

[2017-06-02 12:30] paulmolluzzo commented on #26
Nice!

@jonmajorc the README and other root-level markdown documents aren't rendered in the site, so we don't need to design for them.

[2017-06-02 16:41] jonmajorc commented on #26
Thanks!

By "rendered", do you mean by verbatim the README pasted within the site? Currently [docs](https://glamorous-website-poiyvykcjm.now.sh/docs) is displaying what is inside the README.md.

[2017-06-02 16:47] paulmolluzzo commented on #26
You're right, it's taken from the `glamorous` README, but _this_ repo's README isn't on the site. Nor would the other markdown files (CoC, license) be shown. They're just in the repo.

Also, the documentation might not stay 1-to-1 with the `glamorous` README. It'll likely diverge as the documentation improves.

[2017-06-02 17:38] kentcdodds commented on #26
Yeah, once this site is done, I'll update the `glamorous` README to be more project-information-type stuff, like [babel's](https://github.com/babel/babel) :)

[2017-06-02 20:16] kentcdodds opened #37 "auto-prettier-eslint markdown strings"
There's kind of a tool for this, but I don't think it'll work with the way we're doing things. But it'd be pretty sweet to have a tool that'd automatically apply prettier-eslint to all of our code examples in our markdown strings :)

[2017-06-02 20:28] kentcdodds commented on #8
Ok, so we've got some basic content on the `/advanced` and `/examples` pages. If we could get someone to work on making those look nice in addition to these designs that'd be awesome. You can see the deployed version of the site at: https://rc.glamorous.rocks/ :)

[2017-06-02 20:30] kentcdodds opened #38 "autoscale main deployment"
Right now the production deployment will freeze after an hour of inactivity. That's kinda annoying. So I have to do `now scale https://rc.glamorous.rocks` every time there's a new deploy if I don't want it to freeze. By the time the website is live, I don't want to have to do that with `https://glamorous.rocks`. Let's automate that (just for the production deployment).

[2017-06-02 20:38] paulmolluzzo commented on #38
We can avoid the need to autoscale by exporting a static version. I think the site will work just fine as a static build. See here: https://github.com/zeit/next.js/blob/v3-beta/readme.md#static-html-export

`now` won't sleep a static site. There was a recent blog post or something about this specifically but I can't find it on mobile.

Or you can add a `post-build` command for Travis to run that d

[2017-06-02 20:40] paulmolluzzo commented on #38
Here's the blog post: https://zeit.co/blog/scale

[2017-06-02 20:49] kentcdodds commented on #38
That's cool! So would we create a static build for every locale? Since we're server-rendering the docs with the locales (that's all still a bit of a mystery to me honestly).

[2017-06-02 20:56] kentcdodds opened #39 "Nav <a>s don't have hrefs"
Not sure why this is.... But it makes them inaccessible to the keyboard.

[2017-06-02 20:59] paulmolluzzo commented on #38
Um, let's leave the locale thing for now. I really need to get my thoughts down for everyone so we can discuss, I've been busy, sorry. I have two ideas, and both would work with a single static deployment since we'd just be handling the logic with `state` or parsing the `pathname` (or both).

Ideally we can have a single static deploy. This site should be super fast and have a small bundle if poss

[2017-06-02 21:02] kentcdodds commented on #38
That all sounds awesome. Thanks!

[2017-06-02 21:13] paulmolluzzo commented on #39
This has to do with the way we're using `next/link` in the `styled-links`. `next` doesn't put the `href` on the anchor tag.

We can put it on there ourselves, but we might lose prefetching. I'm not sure. 🤷🏻‍♂️

See here for docs: https://github.com/zeit/next.js/blob/v3-beta/readme.md#with-link

This is worth making an issue about in `next` I think as it's a big a11y issue.

[2017-06-02 21:17] paulmolluzzo opened #40 "Upgrade next to 2.4.1"
This is a small issue since we're hosted on `now`, but everyone is advised to upgrade `next` to mitigate a security issue.

https://send-patch.now.sh/

[2017-06-02 23:33] #40 closed

[2017-06-02 23:34] kentcdodds commented on #39
For anyone looking at this, you can verify this by going to [the deployment](https://rc.glamorous.rocks/) and seeing the code [here](https://zeit.co/kentcdodds/glamorous-website/mtyihznjqw/source?f=components%2Fnav.js&redirect=1).

[2017-06-02 23:41] rockchalkwushock commented on #39
@kentcdodds the `here` link gives a 403 is it suppose too or is that the issue you are talking about here with `next/link`?

[2017-06-02 23:53] kentcdodds commented on #39
It's that the render anchor tags don't have an href attribute which means they're not accessible by the keyboard.

[2017-06-02 23:57] paulmolluzzo commented on #39
@kentcdodds the source code for the deployments are not public, FYI. The links to source you left above are 403s for everyone but you. 😉

Open this in incognito: https://zeit.co/kentcdodds/glamorous-website/mtyihznjqw/source?f=components%2Fnav.js&redirect=1

[2017-06-02 23:59] rockchalkwushock commented on #39
ah duh I did the same thing not realizing that `public` is set to `false` by default when on any plan above OSS. Thanks @paulmolluzzo

[2017-06-03 00:00] kentcdodds commented on #39
Whoops! Haha, here's the file with the link components: https://github.com/kentcdodds/glamorous-website/blob/master/components/nav.js

[2017-06-03 00:06] rockchalkwushock commented on #39
@kentcdodds  @paulmolluzzo

I'm going to look into a work around tonight on this &/or take a look at the `next/link` code and see what might be able to be done to achieve this.

[2017-06-03 00:14] paulmolluzzo commented on #39
@rockchalkwushock we can add the `href` to the anchor easily in that component, but I don't know if it'll affect the prefetching provided by `next`. If you try you should see network requests when hovering over the links. That's the prefetch happening.

[2017-06-03 00:18] rockchalkwushock commented on #39
@paulmolluzzo ok I will look into it a little later tonight to see if the prefetching is affected when doing this.

[2017-06-03 00:33] kentcdodds commented on #39
Thank you so much!

[2017-06-03 00:46] paulmolluzzo commented on #39
🎉 Thanks @rockchalkwushock!

[2017-06-03 01:25] jonmajorc commented on #26
Hey, sorry for the rework... 🙄 I think you all will like it though! (I think...) Download the zip and open each svg up in your browser! Hope you all enjoy! I did some searching around how others out there are doing it besides styled-components and it got my brain jogging. I really like how Jest does their recognition for companies so ya'll will see that same idea within my designs. Anyways, check

[2017-06-03 02:22] paulmolluzzo commented on #7
I've commented a few places ([here](https://github.com/kentcdodds/glamorous-website/issues/38#issuecomment-305907924) and [here](https://github.com/kentcdodds/glamorous-website/issues/38#issuecomment-305907924)) about handling localization SSR, and I figured dropping my thoughts here keeps it all in one place.

Ideally we'll have the following in place after addressing this issue:
* SSR for the ap

[2017-06-03 03:38] kentcdodds commented on #7
Option 3 seems simplest to me. I'm fine with any of the options, so let's go with what's easiest.

[2017-06-03 12:25] kentcdodds commented on #7
Actually, if we go with option 3, then the site wont be indexed in any language other than English. So let's try for option 1. That seems the second most straightforward.

[2017-06-03 12:39] paulmolluzzo commented on #39
Looked at this last night and didn't see network requests like I said would be there. I must be wrong about how prefetching works. 🤔

I can confirm that moving the `href` makes the links accessible through the keyboard (tabbing) and doesn't reduce anything. Maybe we just want to go for it?

[2017-06-03 12:45] paulmolluzzo commented on #39
https://zeit.co/blog/next#anticipation-is-the-key-to-performance

Yeah, I was wrong. 🙊

[2017-06-03 12:46] kentcdodds commented on #39
Oh, neat! So it's just a matter of adding an `href` now? Cool. Let's do that :D

[2017-06-03 12:48] rockchalkwushock commented on #39
Sorry I didn't get back last night on this. I had found that the `hovering on the link` was not doing the prefetching and that it was being done as soon as the page was loading. I was too tired to keep looking. Great find!

[2017-06-03 12:58] paulmolluzzo commented on #39
Yeah, we can add it in the `styled-links.js` here: https://github.com/kentcdodds/glamorous-website/blob/master/components/styled-links.js#L37

We need to add `href={href}` to the `StyledAnchor`.

[2017-06-03 12:59] paulmolluzzo commented on #7
Right. That's a major downside, as well as the loss of direct links.

[2017-06-03 13:06] kentcdodds commented on #7
Yup. I'm working on option 1 right now. Should have a POC before the kids wake up I hope!

[2017-06-03 13:11] paulmolluzzo commented on #7
Good luck! It's too late for me, I'm already doing dad ops. 😅

[2017-06-03 13:43] kentcdodds commented on #7
Got this implemented here: https://github.com/kentcdodds/glamorous-website/pull/41

A couple of bugs, but it's not too bad I think :+1:

Dad ops time!

[2017-06-03 13:46] kentcdodds commented on #26
Sweet! Here are screenshots of those designs (for folks who don't wanna download it):

![screen shot 2017-06-03 at 7 44 01 am](https://cloud.githubusercontent.com/assets/1500684/26754071/b903777e-4830-11e7-9f1d-bb67f8a2fef8.png)

![screen shot 2017-06-03 at 7 44 22 am](https://cloud.githubusercontent.com/assets/1500684/26754069/b9018e0a-4830-11e7-85e3-c116c4892818.png)

![screen shot 2017-06-03 at

[2017-06-03 15:38] paulmolluzzo commented on #7
🎉 Enjoy dad ops!

[2017-06-03 19:31] paulmolluzzo commented on #26
Thanks for all this work @jonmajorc! I can see a lot of thought went into it!

I do have a few issues with these new designs I'd like to discuss. I think they're fairly minor:

* We lost the main omnipresent navigation, which is critical to keep. On mobile I think the hidden nav can be more obvious. Say what you will about the hamburger icon, but most people know what it is. 😀
* I'm not crazy abou

[2017-06-04 04:10] #39 closed

[2017-06-04 12:23] ooade opened #44 "Add Service Worker"
I can help with sw-precache-webpack-plugin???

[2017-06-04 13:11] kentcdodds commented on #44
Sounds cool! I've never used now/next.js before so I'm learning as I go. I'd love the docs to be available online though! I've also never used sw-precache-webpack-plugin before. I've always used the offline-plugin. But in any case, if you want to work on adding a service worker to the site, I'd totally love that! Thanks!

[2017-06-04 14:45] jonmajorc commented on #26
Thanks @paulmolluzzo ! Great feedback!

I agree with you on this! I had that originally but I changed it because I had something conflicting in the same area that is no longer there. Hamburger it is! 🍔

Yeah I figured that be an issue... Babel and Jest does it the way by providing companies' actual logos. I fear the original look with the white text won't look as nice when we scale the amount of c

[2017-06-04 14:55] kentcdodds commented on #26
I think we should push the "Used By" stuff to after initial release. We still need to get more companies using/reporting their usage of glamorous :) We can talk about how to do it then.

For language selection, I'm fine with what's in the design already. I really don't care too much actually :)

I'm going to file an issue for search. That'd be great to get. Unsure how to go about that.

[2017-06-04 14:56] paulmolluzzo commented on #26
Future problem. I think we can do original release with no logos at all.

FPO = For Placement Only

[2017-06-04 14:56] kentcdodds opened #45 "Add search functionality"
I don't know how other folks do this, but I think that [Algolia](https://www.algolia.com/ref/docsearch) is what several others use. Anyone wanna know what it'd take to do that?

[2017-06-04 15:09] ooade commented on #44
I never got offline-plugin to  [~work with Next.js~](https://github.com/zeit/next.js/issues/861). But, i was able to make it work with [sw-precache-webpack-plugin](https://github.com/ooade/NextSimpleStarter) which is [what styled-component's website adopted](https://github.com/styled-components/styled-components-website/blob/master/next.config.js#L37). BTW, since you love the docs online, we could

[2017-06-04 15:12] kentcdodds commented on #44
That sounds great :+1: Thanks!

[2017-06-04 17:02] kentcdodds commented on #26
To take it further... I think we can do the initial release with no companies at all 😉

[2017-06-04 17:12] paulmolluzzo commented on #26
Yes @kentcdodds, that's what I meant as well. 😀

[2017-06-04 18:12] ooade commented on #44
We would be needing a server to send our service worker file. Should i create a simple server with express or we should forget about the service worker?

[2017-06-04 18:14] kentcdodds commented on #44
Hmmm... I'm unsure what you mean. This is using next.js which is a server right?

[2017-06-04 18:17] kentcdodds commented on #44
Also, I'm pretty sure the service worker file is just static. Why would we need a special node server to serve it?

[2017-06-04 18:26] ooade commented on #44
Just what i wanted to say; Static files are served via `/static/` but we need our service worker scope to be one level up i.e `./` so that it can match all content.

[2017-06-04 18:28] ooade commented on #44
P.S: Scope and worker must be in the same location

[2017-06-04 19:48] kentcdodds commented on #44
Ah, right, makes sense. So would we make a server.js look the example you linked to? Then does next run that server for us? What infrastructure changes do we need to make?

I'm really excited about this!

[2017-06-04 19:59] ooade commented on #44
Yeah, Yeah, and nothing much :sweat_smile: We just need a simple server to serve us the service worker. I was just asking for your permission to add express or something simpler since we only need it that purpose :smile:

[2017-06-04 20:08] paulmolluzzo commented on #44
`next` is running a node server when you run `next start` so I'm not sure we need to add `express` at all. I would just update the webpack config to include the service worker and try pinging `/sw.js`. It should work from what I can tell.

Also, if we start using `express` or need to keep the `next` server running that means we can't do the static export I mentioned in #38, so we'll need to also d

[2017-06-04 20:14] paulmolluzzo commented on #44
Another note, if by "serving" the JS file we mean baking bake to GET it, a static build/export on now should work too. It won't execute and code on a server, but it will use `serve` to serve the files we deploy. If all we need to do is respond to a GET with that file then a static build should be OK I think. Looking at the example @ooade made that seems to be the extent of it.

[2017-06-04 21:05] kentcdodds commented on #44
Sounds like with the static export we could have a pay bills step to just stick the sw file in the right place when it's done 🤔

[2017-06-04 21:17] paulmolluzzo commented on #44
That might work too. I'd like to shoot for a static export because we (@kentcdodds really) gets free autoscaling. We don't really need anything to be done server-side, so why not? (I'm also a sucker for static sites 😁)

[2017-06-04 21:30] paulmolluzzo commented on #7
Can we close this issue or do we want to leave it for the actual translations to get done?

[2017-06-04 21:33] kentcdodds commented on #7
Let's at least wait until we add the drop-down for choosing another language and set up automatic aliasing.

[2017-06-04 21:37] kentcdodds commented on #7
Also, could we get this static stuff working? I'm unsure that it'll work because there's dynamic server side stuff for the locale selection. Let's make sure it'll work.

[2017-06-05 11:47] ooade commented on #44
@paulmolluzzo isn't static export a v3 beta thing? But anyhow it is, just lead me and i'll take it up from there :sweat_smile:

[2017-06-05 12:12] paulmolluzzo commented on #44
@ooade you're right, it's in the beta. I guess let's try to implement without addding in an `express` server and ignore the static export aspect for now?

[2017-06-05 20:48] ooade commented on #44
Yeah, that sounds nice

[2017-06-05 22:14] kentcdodds opened #47 "Add "edit" button to every page section"
So we can encourage folks to contribute improvements to the docs. Probably want to just have some subtle icon at the top of each [section](https://github.com/kentcdodds/glamorous-website/blob/69ed6e8e2d70b2f894954bdf187260679db771b4/components/page-sections.js#L24) that links to the github `/edit` URL for the relevant file, [for example](https://github.com/kentcdodds/glamorous-website/edit/master/

[2017-06-05 22:15] kentcdodds opened #48 "Add analytics"
Analytics will help give us an idea of what people are looking at most and where to focus efforts.

I don't think Google analytics in the browser will be good enough because many of our target audience blocks those. Any ideas?

[2017-06-05 22:16] kentcdodds commented on #48
When I accidentally filed this issue on the glamorous repo (https://github.com/paypal/glamorous/issues/165), @vesparny mentioned [his project](https://github.com/vesparny/fair-analytics) to which I responded:

[2017-06-06 03:06] paulmolluzzo commented on #47
Closed by #46

[2017-06-06 03:06] #47 closed

[2017-06-06 03:14] kentcdodds opened #49 "Remove coloring of visited links"
Because on sites like this one, normally folks don't care whether they've been there before and it's distracting IMO.

Also this is ugly 😛:

<img width="489" alt="screen shot 2017-06-05 at 8 55 02 pm" src="https://cloud.githubusercontent.com/assets/1500684/26812266/fa85cac6-4a33-11e7-9093-677641a4bfdd.png">

[2017-06-06 03:15] kentcdodds commented on #38
I think that this actually is happening automatically. I've gone to `rc.glamorous.rocks` at random times and it's always loaded very quickly, so we're good I think!

[2017-06-06 03:15] #38 closed

[2017-06-06 03:24] kentcdodds commented on #48
I think to start we'll just use google analytics. Then we can switch to something else after the release.

[2017-06-06 09:07] vesparny commented on #48
@kentcdodds fair-analytics is just for anonymously track generic usage like page views. It tells you someone visited that specific page, without telling you where the visit came from though.

I understand this is limiting, but it's a way to respect users privacy.

Anyways GA is probably being blocked by some browser extensions, especially if you consider the audience we target :)

[2017-06-07 01:37] paulmolluzzo commented on #29
Honestly, I think a pink square is fine. Does anyone want to take this on? @iamrudra?

[2017-06-07 01:38] paulmolluzzo commented on #21
Does anyone have an interest in taking this on? @iamrudra? If anyone is interested and just needs a little direction, post here and we'll be happy to help!

[2017-06-07 01:39] #49 closed

[2017-06-07 01:42] paulmolluzzo opened #52 "[meta] Add labels to GH repo"
I think it'd be great to have some more labels available on this repo so we can organize tasks and make it easier for people to find something they can contribute that falls within their skill set. Off the top of my head I'm thinking:

* Good for Beginner (or "Good First PR", something to highlight tasks that don't require a ton of background knowledge)
* Documentation
* Has PR
* Under Discussion

[2017-06-07 06:00] iamrudra commented on #29
@paulmolluzzo - Waiting on @Connorelsea to share the design assets and I can take this on.

[2017-06-07 06:02] iamrudra commented on #21
@paulmolluzzo - React not my strong suit but I will get back on this in next couple of days (can I or can't I do this). Does that work?

[2017-06-07 12:48] kentcdodds commented on #21
That's fine. In the mean time will open this up for anyone else to do if they like.

[2017-06-08 02:44] kentcdodds commented on #8
Somehow this got moved to #26, so I'll close this issue :)

[2017-06-08 02:44] #8 closed

[2017-06-08 02:45] kentcdodds commented on #7
I think we'll push the static site stuff off until after the initial release. The site is already pretty fast and we don't have any scaling issues right now. I'll add this to the `later` milestone.

[2017-06-08 02:46] kentcdodds commented on #7
Oh, lol, I forgot that we wanted to add the dropdown thing. I'll try to get that done tonight.

[2017-06-08 02:47] kentcdodds commented on #5
Let's open up individual issues for every bit of documentation we want so folks can jump in and help :+1:

[2017-06-08 02:47] #5 closed

[2017-06-08 02:49] kentcdodds commented on #52
Ok, I made a few labels and I even created [a project](https://github.com/kentcdodds/glamorous-website/projects/1). I've never used a github project before, but maybe it'll be helpful! We'll see how it goes. Thanks!

[2017-06-08 02:49] #52 closed

[2017-06-08 02:50] kentcdodds opened #53 "Document the process of writing docs"
So folks know how they can help

[2017-06-08 02:51] kentcdodds opened #54 "Add issues for everything that needs to be documented"
This should be done after #53 so we can include a link to that in each issue.

[2017-06-08 05:01] jonmajorc commented on #26
Based on renaming this issue, I can work on Finishing designs if you are all well pleased with what I cooked up earlier. You can also let me know what I should focus on doing 👍. Also, based on the designs I currently built, if there are any examples you want to provide that you would like to see glamorous build from send me them! Let me know when you would like the designs by to 😃

[2017-06-08 06:32] kentcdodds commented on #26
I'm pretty happy with what you've got. And we can always iterate! I'm not concerned so much about focus as I am about getting whatever's next done. So work on whatever suits your fancy. It all needs to get done before we can release anyway 🙃  As for when, this is OSS so do it whenever you want. Nobody can ask any more of you than that. Just comment in here when you've started working on something

[2017-06-08 13:33] #29 closed

[2017-06-08 17:03] iamrudra commented on #29
Good job @kentcdodds

Sorry I was still under the impression that we are waiting on the source files... :o

[2017-06-08 17:04] iamrudra commented on #21
@kentcdodds - It says it was added to `Ready` - Does that mean it has already been worked upon by you?

[2017-06-08 17:25] kentcdodds commented on #29
Yeah, it's fine, I just decided I wanted to get _something_ done that's better. Still happy to get the other logo in if someone wants to make it :)

[2017-06-08 17:26] kentcdodds commented on #21
Just means that what we want to do has been defined and it's ready for anyone to work on it.

[2017-06-08 17:46] kentcdodds opened #57 "Fixup tests"
Right now, pretty much any change is going to result in snapshots breaking. That's fine, but one thing I want to avoid is having to update the snapshots for every content change. We want this to be really easy for folks to contribute to and that means being able to contribute without even pulling down the repo and just using the GitHub editor for updating content.

I'm unsure of the best way to so

[2017-06-08 17:47] #7 closed

[2017-06-08 22:41] iamrudra commented on #21
I looked at `pages/index/index.js` and checked out the reference doc link that @paulmolluzzo shared. Unfortunately didn't get much idea where exactly should I make changes. :(

PS - My now build fails with code `137` - Is anyone else facing the same thing?

[2017-06-08 22:43] iamrudra commented on #29
Scraped this from the other design file. made it transparent, set the correct dimensions and then tinified it -

![icon](https://user-images.githubusercontent.com/12117759/26953753-1e65d966-4c61-11e7-9ed4-906f4c1f56f8.png)

[2017-06-08 23:08] kentcdodds commented on #29
Super! I think that'll work great. Why don't you size it down to 128x128. I'm sure that'll handle all the cases we need it to :+1:

Thanks!

[2017-06-08 23:10] kentcdodds commented on #21
Huh, weird about your build. No idea what's causing that 🤔

As for where to make changes, I'm afraid that I don't have time right now to direct you further, sorry.

[2017-06-09 02:54] iamrudra commented on #21
Yeah, no worries. I just wanted to provide a status update (as promised in my previous comment) so that it's clear to other contributors that this one is up for grabs! :)

[2017-06-09 02:56] iamrudra commented on #29
Sure. I followed the current one that you had which was 580x580. I will create the PR tomorrow with the updated dimensions.

[2017-06-09 18:29] paulmolluzzo commented on #57
Can we reduce the tests to not render the content from the markdown? Will `shallow` from `enzyme` do that for us?

[2017-06-09 18:40] kentcdodds commented on #57
Yeah, maybe this is a good use case for `shallow`. Even though [I'm not normally a huge fan](https://www.briefs.fm/3-minutes-with-kent/49). 👍

[2017-06-09 23:43] RIanDeLaCruz commented on #45
I'd like to have a try at this :)

[2017-06-09 23:47] kentcdodds commented on #45
Sounds great! I'm looking forward to seeing what you come up with!

[2017-06-10 03:24] kentcdodds commented on #57
I'm going to go ahead and just push this so we don't worry about merge conflicts from anyone else wanting to work on things.

[2017-06-10 03:28] #57 closed

[2017-06-10 03:32] kentcdodds commented on #57
This is actually pretty neat. Because the snapshot was so huge I never even reviewed it, so all confidence I was getting was that it didn't throw errors. Now we don't have the snapshots issue, but we're still confident that it doesn't throw errors. And we have the same amount of coverage :) Yay.

[2017-06-10 03:33] kentcdodds commented on #53
I'm going to start on this

[2017-06-10 03:35] kentcdodds commented on #53
Rats. I messed up something with crowdin... Trying to work that out...

[2017-06-10 03:41] kentcdodds commented on #53
Hee hee, this is the problem. I've fixed it though...

<img width="475" alt="screen shot 2017-06-09 at 9 40 56 pm" src="https://user-images.githubusercontent.com/1500684/26999656-5b99538e-4d5c-11e7-8e8f-dd3dc24dd203.png">

[2017-06-10 04:09] kentcdodds opened #64 "Make a way to have a special callout in markdown"
When I used README.io for [angular-formly](https://docs.angular-formly.com) I really liked the "callout" feature:

<img width="265" alt="screen shot 2017-06-09 at 10 04 55 pm" src="https://user-images.githubusercontent.com/1500684/26999809-c1aca9d4-4d5f-11e7-8b2b-aa64884df517.png">

<img width="320" alt="screen shot 2017-06-09 at 10 04 23 pm" src="https://user-images.githubusercontent.com/1500684/

[2017-06-10 04:11] kentcdodds commented on #64
Oh, and README.io have the types: "info, warning, danger, success"

[2017-06-10 04:59] #64 closed

[2017-06-10 05:04] kentcdodds commented on #64
I'm sorry, I normally will make PRs, but I just wanted to get this in to test out crowdin stuff. Here's what it looks like:

<img width="595" alt="screen shot 2017-06-09 at 11 03 41 pm" src="https://user-images.githubusercontent.com/1500684/27000143-e754f044-4d67-11e7-9a65-cea5fd8f0a25.png">

We've got one for all four types :+1:

[2017-06-10 05:08] jonmajorc commented on #26
@kentcdodds what screenshot tool were you using on my designs? 😃

[2017-06-10 05:23] kentcdodds opened #65 "Add flow"
That would really help I think.

[2017-06-10 05:24] kentcdodds commented on #65
Labeled this as a good first issue (with the caveat that it's only really good if you're experienced with flow already). It doesn't require you understand the existing codebase very well.

[2017-06-10 05:35] kentcdodds commented on #53
Done

[2017-06-10 05:35] #53 closed

[2017-06-10 05:37] kentcdodds commented on #26
Haha, I just pulled them up in Chrome and screenshotted them there ;-)

[2017-06-10 06:34] bhargav175 commented on #65
Hi @kentcdodds . I would like to take this up!

[2017-06-10 11:49] paulmolluzzo commented on #65
Go for it @bhargav175! 👍

[2017-06-10 12:11] RIanDeLaCruz commented on #45
From what I've been trying out with Algolia, it needs a few things:

1. Creation of Algolia Account
2. Apply for an Open Source Free Tier
3. Submit the glamorous site to DocuSearch for indexing
4. Add search code to the UI

I've had initial success with scraping the site locally. The good thing about using the hosted scraper is that site maintainers don't have to constantly run the scraper.

Other

[2017-06-10 12:50] kentcdodds commented on #65
Awesome!

[2017-06-10 12:52] kentcdodds commented on #45
Sounds awesome! I have an account. Do you know how I supply for the free tier?

[2017-06-10 15:47] jonmajorc commented on #26
Here are the designs that I have. Give me some feedback and I can the updates if need be. 😃

# Home Page
<img width="1440" alt="glamorous_home_desktop" src="https://user-images.githubusercontent.com/7799266/27003894-463f36ca-4dc5-11e7-9e8c-78401b2175d8.png">

## Home Page (Mobile)
<img width="375" alt="glamorous_home_mobile" src="https://user-images.githubusercontent.com/7799266/27003899-5dae8a68-

[2017-06-10 21:39] kentcdodds commented on #26
This looks super fantastic! One thing I thought of right away is on the docs pages we should probably not have such a huge "Hero" logo etc. at the top. That's just a little much. Could we get a more compressed version?

Thanks!

[2017-06-11 00:14] RIanDeLaCruz commented on #45
You just go to the account section and get the free tier

[2017-06-11 00:15] RIanDeLaCruz commented on #45
When it'll then give you the necessary keys for scraping and using it on the site

[2017-06-11 00:38] kentcdodds commented on #45
Done. What next?

[2017-06-11 01:43] mwickett commented on #23
I've opened #66 to address a11y issues.

Largest issue was related to color - which means that the design changes, which is always a challenge. Definitely not trying to step on toes here, but I made some choices on modified color that meeting AA requirements, but don't tear apart the design (which looks fantastic!)

This is my second (I think) OSS PR, and your fantastic level of structure and proc

[2017-06-11 02:35] kentcdodds opened #67 "integrations -> polished"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:36] kentcdodds opened #68 "integrations -> create-react-app"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:37] kentcdodds opened #69 "integrations -> glamor"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:38] kentcdodds opened #70 "integrations -> jest"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:39] kentcdodds opened #71 "integrations -> next"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:39] kentcdodds opened #72 "integrations -> recompose"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:57] kentcdodds opened #73 "advanced -> theming"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:58] kentcdodds opened #74 "advanced -> Server Side Rendering (SSR)"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:58] kentcdodds opened #75 "advanced -> size"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 02:59] kentcdodds opened #76 "advanced -> existing CSS"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:01] kentcdodds opened #77 "api -> TypeScript"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:02] kentcdodds opened #78 "api -> glamorous"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:03] kentcdodds opened #79 "api -> glamorousComponentFactory"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:10] kentcdodds opened #80 "basics -> React Native"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:11] kentcdodds opened #81 "basics -> installation"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:12] kentcdodds opened #82 "basics -> getting started"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:13] kentcdodds opened #83 "basics -> dynamic styles"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:14] kentcdodds opened #84 "basics -> core concepts"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:14] kentcdodds opened #85 "basics -> animation"
Learn how to set up the project [here](https://github.com/kentcdodds/glamorous-website/blob/master/CONTRIBUTING.md) and how docs work [here](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). For much of this you should be able to do everything without even cloning the project. You could just do it in [the GitHub editor](https://help.github.com/articl

[2017-06-11 03:42] kentcdodds commented on #26
Is there anywhere we could put some tasteful animation? 🤔

[2017-06-11 04:01] RIanDeLaCruz commented on #45
Add it here so that it can be indexed
https://community.algolia.com/docsearch/

[2017-06-11 04:04] kentcdodds commented on #45
Nice! I wonder whether we should provide the URL for the release candidate site (rc.glamorous.rocks) and update it later (if that's possible), provide the actual future url (glamorous.rocks) or wait...

[2017-06-11 04:08] RIanDeLaCruz commented on #45
We could provide the release candidate because ee can always just use a different index name when we integrate the actual site

Alternatively, we could use the local scraper I have for the release candidate indexing and use my keys

[2017-06-11 04:10] kentcdodds commented on #45
Let's use the release candidate and update it when we release. Thanks!

[2017-06-11 04:11] kentcdodds commented on #45
I'll fill out that form now and provide an update when I have one

[2017-06-11 04:11] RIanDeLaCruz commented on #45
Alright

[2017-06-11 04:16] paulmolluzzo commented on #45
Also we should scrape each locale separately. It looks like we'll be passing an `INDEX_NAME` to Algolia so that probably should be unique to each locale. (Couldn't find definitive answer.)

https://community.algolia.com/docsearch/documentation/

[2017-06-11 04:21] kentcdodds commented on #45
I filled out the form for all three locales that we have support for right now.

[2017-06-11 04:23] RIanDeLaCruz commented on #45
Yeah, I think it'd be different per locale

[2017-06-11 04:24] chrisdemars commented on #23
Are there any other a11y issues. I would be happy to test and help make improvements where I can.

[2017-06-11 04:27] kentcdodds commented on #23
Awesome! Thanks! You can look at what we've got now at https://rc.glamorous.rocks

Or you can look at the current pull request and see the link to the staging URL (I'm the github statuses) to see what that looks like 👍

[2017-06-11 04:37] Ronolibert commented on #85
Hi! I can take this one!

[2017-06-11 04:37] chrisdemars commented on #23
Thanks Kent. Happy to help wherever.

[2017-06-11 04:37] whoisandy commented on #81
@kentcdodds Working on it.

[2017-06-11 04:50] chrisdemars commented on #85
I was looking at this to start with it and I am not sure how to conribute to this issue. Is it just copying and pasting informaiton or is there a level of development involved?

[2017-06-11 04:52] kentcdodds commented on #85
Most of it should be copy/paste. But you can improve upon things if you like. You could make a better example if you like. Just make sure you read the linked docs 😉

[2017-06-11 04:52] kentcdodds commented on #85
And thank you!

[2017-06-11 04:56] mjaltamirano commented on #83
Hi Kent,

I'll take this!

[2017-06-11 04:57] chrisdemars commented on #85
Lol, if I could React, even JS for that matter. Copying and pasting seems the best option ha

[2017-06-11 08:20] liadbiz commented on #82
working on it

[2017-06-11 08:48] liadbiz commented on #82
how about adding the section [The problem](https://github.com/paypal/glamorous/blob/master/README.md#the-problem) and [This solution](https://github.com/paypal/glamorous/blob/master/README.md#this-solution) in README file to this section?

[2017-06-11 13:11] williamolojede commented on #79
is this still available?

[2017-06-11 13:33] williamolojede commented on #79
I'll take this if its available

[2017-06-11 13:52] paulmolluzzo commented on #79
It's all yours. Go for it! 👍

[2017-06-11 15:06] kentcdodds commented on #82
Sounds like a great idea

[2017-06-11 15:07] parvezk commented on #78
@kentcdodds: What kind of API are you looking for?

[2017-06-11 15:30] parvezk opened #89 "Add Roadmap.md"
Roadmap link in CONTRIBUTING.md is pointing to 404 page. Please create the Roadmap page.

[2017-06-11 15:52] mwickett commented on #23
Three outstanding issues that I'm aware of:

1. The 'home' (`href="/"`) link that is wrapped around the lipstick icon in the nav needs some text (that should be hidden visually)
2. The example code on the front page - I *think* the syntax highlighting is Prism, but a lot of those colors aren't compliant, and need to be updated, but I can't find the style code for that.

[2017-06-11 16:04] kentcdodds commented on #23
Maybe @philpl can help us with the example code thing that's using react-live. Any way to change the color scheme to be more accessible?

[2017-06-11 16:08] kentcdodds commented on #89
We should probably just remove that link. The roadmap is pretty much whatever we come up with and whatever's in the issues :)

Would you like to [makeapullrequest.com](http://makeapullrequest.com) to remove that?

[2017-06-11 16:09] parvezk commented on #89
@kentcdodds Sure wil do :)

[2017-06-11 16:31] parvezk commented on #89
I get the error when I try to add myself as contributor using below command:
`npm start "addContributor parvezk"`
Error: TypeError: Cannot read property 'scriptName' of undefined

[2017-06-11 16:38] kentcdodds commented on #89
Whoops, that should be `npm start "contributors.add <username>"`. Could you update that too? Sorry

[2017-06-11 17:02] audoralc commented on #68
Happy to help with this one.

[2017-06-11 17:28] raerpo commented on #73
Hi Kent, Awesome project by the way.

I been working on this issue but keep getting an error when i try to commit with `npm start commit`

<img width="825" alt="captura de pantalla 2017-06-11 a las 13 25 56" src="https://user-images.githubusercontent.com/1649463/27013030-b00c2a24-4ea9-11e7-9b3f-cc266d191221.png">

Do you know what's happening?

[2017-06-11 17:31] philpl commented on #23
@mwickett The default for react-live is really minimal and admittedly bad 😆

You can disable the default stylesheet on the provider with the `mountStylesheet` prop set to `false`. https://github.com/FormidableLabs/react-live#liveprovider-

Then you should add this CSS code for `.prism-code` somewhere else – preferably with glamorous, I guess: : https://github.com/FormidableLabs/react-live#liveprov

[2017-06-11 17:46] mwickett commented on #23
Thanks @philpl - I'll dig into this later today.

Just FYI for others, I've updated my PR ( #66 ) to include some small color tweaks and a fix for the non-compliant 💄 home link in the nav.

[2017-06-11 17:54] parvezk commented on #89
Updated. I am unable to push my branch to remote. When I do the git push, I get the permission access denied:
`remote: Permission to kentcdodds/glamorous-website.git denied to parvezk.
fatal: unable to access 'https://github.com/kentcdodds/glamorous-website.git/': The requested URL returned error: 403`

[2017-06-11 18:07] chrisdemars commented on #23
I was going to add an alt attribtue to the lipstick icon in the nav. Tried
it locally but it never showed up. Still working on it.

On Sun, Jun 11, 2017 at 1:46 PM, Mike Wickett <notifications@github.com>
wrote:

[2017-06-11 19:10] jonmajorc commented on #26
@kentcdodds oh sure! I agree a 100%. I will see what I can do. Can you give me an idea of how much smaller you are thinking?

[2017-06-11 21:02] #89 closed

[2017-06-11 21:03] kentcdodds commented on #26
Whatever looks good 😉 we can definitely iterate 😀
I think it'd be good to see a bit of content above the fold.

[2017-06-11 23:54] fahadqazi commented on #80
Hi Kent
I'd like to have a go at this.
Thanks :)

[2017-06-12 00:56] Hossman333 commented on #80
https://github.com/kentcdodds/glamorous-website/pull/92

[2017-06-12 02:03] mwickett commented on #23
Thanks @philpl for your guidance on this.

//*Not directed specifically at @philpl*

I've stripped the default styling and changed the preview background to the project `blue` to match the installation code snippet color as discussed with @paulmolluzzo.

Now we just need to load a theme, and/or make our own (which wouldn't be that hard)

This is where my lack of experience with React and Glamorous

[2017-06-12 04:12] kentcdodds opened #94 "Console fun?"
Could we do something fun like this? https://twitter.com/tharakawj/status/868411676449796096
Just for fun if anyone wants to do it.

[2017-06-12 08:33] gillchristian commented on #94
I like this, lets pick a font :smile:

I got all of them [here](http://patorjk.com/software/taag/#p=display&f=Alpha&t=glamorous). _Each picture has a link to the page with the font selected_.

[![ansi-shadow](https://user-images.githubusercontent.com/8309423/27024210-13346fa8-4f2c-11e7-94d9-fcb8cdaecc67.png)](http://patorjk.com/software/taag/#p=display&f=ANSI%20Shadow&t=glamorous)

[![big](https:/

[2017-06-12 12:14] kentcdodds commented on #94
I love it! Let's do the one you had a screenshot of :+1: So awesome.

Maybe we could also invite them to contribute with an additional friendly message or something too!

[2017-06-12 12:50] kentcdodds opened #95 "Fix localization."
Sadly, it turns out that using `*.js` files for localization does _not_ work very well for any localization tool :-(

So I'm thinking that maybe we should have a build step. We could actually have a separate build for every locale as well which may not be a terrible idea. Doing this would allow us to do the static export when it's officially released in `next.js`.

I'm going to start to work on so

[2017-06-12 13:17] gillchristian commented on #94
What about something like this ?
![image](https://user-images.githubusercontent.com/8309423/27035564-2a468632-4f58-11e7-816a-428d62d57a0c.png)

[Here](http://jsbin.com/kecewiw/edit?js,console) is the JS Bin, please edit the messages as you like :smile:

[2017-06-12 13:19] kentcdodds commented on #95
I thought that using an XML file format would get us the best of both worlds (good multiline and works well with crowdin) but [I was wrong](https://github.com/kentcdodds/glamorous-website/pull/96/commits/a43187876fc1eaa02866ce0824822f5554395999). The translation process is confusing (and in some cases just doesn't work) when you get to code samples (especially when working with JSX 😢).

[2017-06-12 13:21] kentcdodds commented on #95
I'm thinking that using markdown is probably best. I've just gotta figure out how to make it work well...

[2017-06-12 13:24] kentcdodds commented on #95
Sheesh, looks like Crowdin just doesn't like things at all. Looking at another solution now...

![screen shot 2017-06-12 at 7 24 26 am](https://user-images.githubusercontent.com/1500684/27035902-39e90762-4f40-11e7-807d-ea58e346440c.png)
![screen shot 2017-06-12 at 7 24 39 am](https://user-images.githubusercontent.com/1500684/27035900-39e5b512-4f40-11e7-8d77-9ceb3ab60025.png)
![screen shot 2017-06-

[2017-06-12 13:34] kentcdodds commented on #95
GitLocalize doesn't handle code blocks very well. Forgot to take a screenshot of what I mean, and now we're stuck on this screen:

<img width="762" alt="screen shot 2017-06-12 at 7 33 42 am" src="https://user-images.githubusercontent.com/1500684/27036248-7b86defa-4f41-11e7-8352-4a16fdd768c7.png">

Open to suggestions...

[2017-06-12 13:35] kentcdodds commented on #94
Oh, that's awesome! I totally love it! Can we make "GLAMOROUS" a gradient too? Let's make this happen. @paulmolluzzo, do you have a suggestion of where this would go? I'm thinking it could work the same way Google Analytics works :)

[2017-06-12 14:46] williamolojede commented on #84
i'll take this

[2017-06-12 14:57] gillchristian commented on #94
I tried and only the first line does get the gradient, the rest not and worse the are transparent. ¯\\\_(ツ)_/¯

Yes, we could add a script in the head that does this `console.log`'s.

[2017-06-12 14:59] kentcdodds commented on #94
Cool, let's make a file like [this one](https://github.com/kentcdodds/glamorous-website/blob/master/components/google-analytics.js) and render it [here](https://github.com/kentcdodds/glamorous-website/blob/master/pages/_document/index.js#L66) :)

[2017-06-12 15:16] kentcdodds opened #99 "Fix build for PRs coming from forks"
Because [this](https://twitter.com/mtravi/status/874256798953459712).

We just need to check in our scripts whether the PR is coming from a fork and if it is, we just don't attempt to deploy. Could probably do this at the top of `other/now-travis`...

[2017-06-12 16:17] jonmajorc opened #102 "Country flags for Localization"
What you did:
Stay relevant on Twitter... 🙃

What happened:
mentioned @kentcdodds and @paulmolluzzo and conversation happened... 😏

Suggested solution:
This cool repo we can use for [country flags](https://github.com/hjnilsson/country-flags) with localization dropdown

[2017-06-12 16:26] kentcdodds commented on #102
Could probably use some designs on this :)

[2017-06-12 16:28] kentcdodds opened #103 "Don't alias until the deploy is finished"
**Problem Description:**

Every time we merge into master, a build is kicked off and we automatically deploy the new version. Unfortunately that means that people using the site will see this:

![screen shot 2017-06-12 at 10 27 09 am](https://user-images.githubusercontent.com/1500684/27044143-d03040c8-4f59-11e7-9ec4-e798c2b8be05.png)

Not super awesome.

**Suggested Solution:**

It would be better

[2017-06-12 16:30] kentcdodds commented on #94
This is awesome:

<img width="574" alt="screen shot 2017-06-12 at 10 29 52 am" src="https://user-images.githubusercontent.com/1500684/27044258-2629ab2c-4f5a-11e7-9b65-939efbbb072b.png">

[2017-06-12 16:30] #94 closed

[2017-06-12 17:06] williamolojede commented on #77
i'll take this

[2017-06-12 17:34] williamolojede commented on #77
@kentcdodds the `npm start commit` keeps failing

[2017-06-12 17:36] williamolojede commented on #77
![image](https://user-images.githubusercontent.com/23551907/27046892-c61063a2-4fae-11e7-90e1-6abc96e2d188.png)

[2017-06-12 17:45] kentcdodds commented on #77
That's really weird. But I'm pretty sure you're not the only one to experience it. I'm not seeing it locally. Don't worry about it though, instead of using `npm start commit`, just run:

[code]

If that doesn't work, comment here again with another screenshot of the output.

[2017-06-12 17:47] williamolojede commented on #77
that works will create a pr now

[2017-06-12 18:16] williamolojede commented on #71
i'll take this

[2017-06-12 22:59] paulmolluzzo commented on #103
On mobile so this is super basic idea, but maybe we can check the status on an interval and check for the `READY` status on the `id` we deployed. I'm thinking that where we're doing the alias we can use a 1 minute interval (or 5 to avoid rate limiting?) then alias if it's ready and kill the interval.

https://zeit.co/api#get-endpoint

Sorry for the brevity.

[2017-06-12 23:13] CarlRosell opened #106 "Navigation is cut off for smaller screens"
**Problem Description:**
All the navigation links at the top are not visible on smaller screens.
<img width="280" alt="screen shot 2017-06-12 at 23 56 00" src="https://user-images.githubusercontent.com/2036823/27059154-5316dc56-4fd5-11e7-98db-30fab9f2808b.png">

**Suggested Solution:**
Maybe wrap the elements.

[2017-06-12 23:15] kentcdodds commented on #103
Sounds like that's something we'll have to do. I wonder whether this is a solved problem 🤔

[2017-06-12 23:18] kentcdodds commented on #106
Thanks @CarlRosell! We're working on updating the design a bit in #26, wanna chime in there? If you'd like you can go ahead and implement some of that :)

Thanks again! Closing this in favor of #26

[2017-06-12 23:18] #106 closed

[2017-06-12 23:27] sergiodxa commented on #103
@kentcdodds Have you tried with [now-pipeline](https://github.com/bahmutov/now-pipeline)?

[2017-06-12 23:29] kentcdodds commented on #103
That looks like exactly what we need. If course @bahmutov is behind it 😉 that guy is awesome!

[2017-06-12 23:29] kentcdodds commented on #103
Thanks for mentioning it!

[2017-06-13 01:44] aarondolson commented on #70
I'll take care of this one

[2017-06-13 02:35] kentcdodds commented on #95
Based on early results from [this poll](https://twitter.com/kentcdodds/status/874453350468657152), I'm going to go ahead and leave this to be done after the release. I'll update the docs to indicate a simpler (though less efficient) process for getting translations. Eventually we'll move to something more robust hopefully, but for now this is the best we've got.

[2017-06-13 04:27] sholladay commented on #103
I need this as well. And for me, an added wrinkle is that many of my apps initialize asynchronously - usually connecting to a database or similar. So they are not ready immediately after the process launches.

Some examples of how other technologies deal with this:

 - Kubernetes has the concept of a [readiness probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-read

[2017-06-13 04:59] kentcdodds commented on #95
Ok, [it's beginning!](https://twitter.com/kentcdodds/status/874491352414699520)

[2017-06-13 06:38] forresst opened #110 "Translation in FRENCH for the website"
**Problem Description:**

Documentation is not in French

**Suggested Solution:**

Translate documentation in french 😄
Translators and Reviewers are welcome

[2017-06-13 07:48] CarlRosell opened #111 "Lint command in README not working"
**Problem Description:**
The `npm run lint` command in the README does not work.

**Suggested Solution:**
Change it to `npm start lint` or create an npm script that will make an alias

[2017-06-13 12:58] andrew-codes opened #113 "Syntax highlighting of code blocks"
**Problem Description:**

Code blocks found on pages other than the homepage contain no language specific syntax highlighting.

![image](https://user-images.githubusercontent.com/1578436/27083362-4dcdf8f6-5016-11e7-88de-deacde4ef870.png)

**Suggested Solution:**
Provide support for syntax highlighting for shell/bash and JavaScript code blocks. The homepage appears to use Prism for its syntax highl

[2017-06-13 13:01] andrew-codes commented on #113
I have already started working on a possible solution to this issue that conforms to the `interactive` and `callout` pragmas already in use. In doing this, I realized that the effort involved is sufficient enough for me to want to validate the approach makes sense; if at all possible (someone has some time to pre-review a PR).

[2017-06-13 13:52] kentcdodds opened #114 "Fix HTML generated from markdown to be valid"
Got this email from Algolia:

Hi Kent,

I am having trouble creating the config for your doc.
The reason is that you have `<p>` tag inside titles like `<h1>`.
This is incorrect html, and the parser we are using (http://lxml.de/) is ignoring it completely.

Could you remove that on your side ?

[2017-06-13 14:12] wcastand opened #115 "Suggestion: Example code block on Homepage is too big/long"
**Problem Description:**

I think the code block in the homepage is way to big. Lot of unecessary stuff for glamorous.

When i see it, it feels like glamorous is more complex that it actually is and involve a lot of verbosity (which isn't).

You example is far too long and can't hold in my macbook's screen without scrolling :/

Overall, the site feels too big (fonts, logo, ...)

**Suggested Soluti

[2017-06-13 14:15] kentcdodds commented on #115
Agreed! I've had similar feelings. Let's shorten it 👍

[2017-06-13 15:41] kentcdodds opened #118 "Improve fallback for translations"
Right now we only fallback to english if the translated file doesn't exist. Instead, we should merge the english version with the translated version just in case the translated version exists, but has empty strings for some values (is incomplete) or doesn't have some values at all. This fallback behavior happens [here](https://github.com/kentcdodds/glamorous-website/blob/4bc565a4ad3257d359c99f4cc8

[2017-06-13 17:33] tdeschryver commented on #118
Is it OK if I'm taking this one?

[2017-06-13 17:55] kentcdodds commented on #118
Yes please! Thanks!

[2017-06-13 18:26] #115 closed

[2017-06-13 18:28] kentcdodds commented on #115
Thanks @wcastand!

[2017-06-13 18:30] wcastand opened #121 "Move the nav menu and maybe the Title/logo/button on the homepage"
**Problem Description:**

As discussed in #117
The nav is weirdly aligned right now, it would be better centered or all the way to the right/left.
If we can make more size and simplify the homepage or reduce the size of the title/logo.

**Suggested Solution:**

Move the nav to the right/left or center it and move the button to make more size on homepage.
styled-component's website is a good exampl

[2017-06-13 18:30] wcastand commented on #115
i made a issue for the nav and title/button on homepage :) #121

[2017-06-13 18:31] tdeschryver commented on #118
Just one quick question, does it make sense to 'replace' empty strings? In my opinion if its left blank, its done on purpose.

[2017-06-13 18:40] kentcdodds commented on #103
I'm thinking something more simple solution for now should suffice. When I `curl` a deploy URL that's currently building, I get back:

[code]

That should be easy enough to parse through to know that it's not yet ready. This way we don't need to worry about using the client or anything, we can just curl. We could start `curl`ing after about 10 minutes (because it takes at least that time every tim

[2017-06-13 18:46] kentcdodds commented on #118
I think that it does. In some cases it makes sense to have an empty string for localization, but not in this docs site. I can't think of a scenario I wouldn't want a string to appear in one locale. If it's really important, people can just set it to `null` and we could do a `null` check when doing the merge maybe...

[2017-06-13 19:01] sholladay commented on #103
I just made [await-url](https://github.com/sholladay/await-url) for the polling strategy. Because JavaScript.

😇

[2017-06-13 19:14] kentcdodds commented on #103
Oh my, that's just amazing! We could use that in [`alias.sh`](https://github.com/kentcdodds/glamorous-website/blob/master/other/alias.sh) 👍 anyone want to do that? Should be dead simple. Could even use [`npx`](http://nom.im/npx) which would be sweet!

[2017-06-13 19:48] TreTuna commented on #74
I'll take this one

[2017-06-13 20:43] TreTuna commented on #74
Ran into the same issue that williamolojede had on the Typescript docs section used your info on the issue there to work around it here.

![glamorousssrcommiterr](https://user-images.githubusercontent.com/16496746/27103140-b0719c9e-5055-11e7-8896-f3f869a691d9.png)

[2017-06-13 20:43] TreTuna commented on #74
[#123](https://github.com/kentcdodds/glamorous-website/pull/123)

[2017-06-13 21:29] kentcdodds commented on #74
Really sorry about that. I'm really not sure what's going on there. 🤔

Why don't you update your local branch and don't use `npm run commit` anymore, just commit like normal.

[2017-06-13 21:35] #103 closed

[2017-06-13 21:35] kentcdodds commented on #103
Ok, we've got this fixed. I have a local fork of `await-url` for now until https://github.com/sholladay/await-url/pull/1 is merged and released :)

Also async/await in Node 8 is awesome.

[2017-06-13 22:16] kentcdodds opened #126 "auto-scale down the old now instance"
I run out of instances really quickly with all these auto-deployments. We need to automatically scale down the previous instance as soon as we add the new aliases. I think we just need to somehow find out what the current alias is pointing to, then do the new alias, then `now scale $OLD_NOW_ID 0`. I'm not sure of the best way to find the `$OLD_NOW_ID` though 🤔

Alternatively, we could figure out h

[2017-06-13 23:18] sholladay commented on #103
`await-url@0.3.0` is out with the options fixes. I tweaked the default `interval` and `tries` values in the hopes of finding a better balance between reliability for this use case and failing within a reasonable amount of time if the URL is never going to come alive.

[2017-06-13 23:30] kentcdodds commented on #103
Cool, thanks! Now if you have any ideas for how to deal with #126 I'd really appreciate it :)

[2017-06-13 23:41] sergiodxa commented on #126
Creating a static site it's not that hard, as far as I saw the pages are static right now, the only requirement is to define `exportPathMap` in the `next.config.js` with every possible route or dynamically generate them (not sure how). There is a PR with an example in the repo of Next.js -> https://github.com/zeit/next.js/pull/2234

In travis then you will need to build, export and deploy the expo

[2017-06-14 00:00] sergiodxa commented on #126
The way localization works right now made impossible to export the page because it's using the `req.headers.host`, and that doesn't exists when exporting 😞 that should be changed before being able to export the glamorous website.

About the instances, have you implemented `now-pipeline`? If so you can use `now-pipeline-prune` after aliasing to remove all non-aliased deployments. If you haven't imp

[2017-06-14 00:08] sholladay commented on #126
Hmm as long as the scaling is set up properly, that shouldn't really happen since the old deploys should become frozen pretty quickly and anything that is frozen does not count towards the instance limit.

`now ls my-alias` will do that for you. 😃

Agreed. Or even `now remove $OLD_NOW_ID --yes`.

There is a _still cooler_ thing, `now remove my-app --safe` that is supposed to remove any deploys tha

[2017-06-14 01:03] mwickett opened #127 "Update CONTRIBUTING.md to reflect removal of commitizen from nps scripts"
**Problem Description:**
Looks like commitizen was removed.

I had just gotten the hang of using `npm start commit` to commit. When committing for a PR, should I still follow the same approach? :)

Happy to update `CONTRIBUTING.md` once I'm sure of the procedure for commit messages.

[2017-06-14 01:18] kentcdodds commented on #127
Yeah, let's remove that, thanks!

[2017-06-14 01:18] kentcdodds commented on #127
Oh, and I don't care about commit message format in this repo 🙃

[2017-06-14 01:22] kentcdodds commented on #126
Ah, I hadn't done the `auto` bit. When I'm at a keyboard I'll try that. Would be an easy fix!

[2017-06-14 04:07] kentcdodds opened #129 "Add contributors to each page"
I love how [webpack's docs](https://webpack.js.org/configuration/devtool/) has avatars of those who contributed to the docs on that page. Someone wanna figure out how they do that and add that to our site?

<img width="605" alt="screen shot 2017-06-13 at 10 06 49 pm" src="https://user-images.githubusercontent.com/1500684/27114969-a373e8a6-5084-11e7-8bd6-a417396b028c.png">

[2017-06-14 06:04] bahmutov commented on #103
`await-url` looks awesome, and could work nicely as the test command to `now-pipeline`. I have been using `now-pipeline` just recently in https://www.cypress.io/blog/2017/05/30/cypress-and-immutable-deploys/

[2017-06-14 12:29] kentcdodds opened #133 "Make a fun badge for contributors to tweet out"
I just saw [this](https://twitter.com/igor_randj/status/874941696307593216):

<img width="645" alt="screen shot 2017-06-14 at 6 24 23 am" src="https://user-images.githubusercontent.com/1500684/27131930-23beb5dc-50ca-11e7-8e0e-f81ee828bedc.png">

And it gave me an idea. What if we made something like that for folks to tweet out after they've contributed to the glamorous.rocks website? It could say:

[2017-06-14 13:02] paulmolluzzo commented on #133
Love this idea! Do we even have #21 done yet? It's really just a regular tweet message and the rest is handled by that card.

[2017-06-14 13:34] #111 closed

[2017-06-14 13:54] kentcdodds commented on #133
#21 isn't quite done, but I was thinking doing something similar. What if we had a contributing page that could dynamically choose the twitter image based on a query string? Something like:

[code]

I think that would be doable :+1:

Could use @jonmajorc's skills here ;-)

[2017-06-14 14:00] #110 closed

[2017-06-14 15:48] kentcdodds commented on #126
Too bad:

[code]

I think that the best thing we could do is figure out how to make this give us a static export and build it for every locale. Any tips?

[2017-06-14 16:01] forresst commented on #121
Would it be possible at the same time to make the menu titles translatable (`Basics`, `Advanced`, `Examples`, `Integration` and `API`)?

[2017-06-14 16:24] kentcdodds commented on #121
Ah! Yes, we should definitely do that as well! Let's make a new issue for that one.

[2017-06-14 16:25] kentcdodds opened #134 "Make nav localizable."
Right now it's only in English. I think it should be pretty straightforward with the `withContent` HoC.

[2017-06-14 16:53] #70 closed

[2017-06-14 16:53] #68 closed

[2017-06-14 16:54] #75 closed

[2017-06-14 16:55] #77 closed

[2017-06-14 16:55] #79 closed

[2017-06-14 16:55] #80 closed

[2017-06-14 16:55] #81 closed

[2017-06-14 16:55] #83 closed

[2017-06-14 17:41] sholladay commented on #126
That message is misleading. You can autoscale between 0 and 1 on any plan.

[2017-06-14 18:16] TreTuna commented on #74
Updated and created new pull request [#138](https://github.com/kentcdodds/glamorous-website/pull/138)

[2017-06-14 19:34] #127 closed

[2017-06-14 19:34] tdeschryver commented on #129
Seems like they are putting the contributors in the [content files](https://github.com/webpack/webpack.js.org/blob/master/content/development/index.md) (these are markdowns).
In the [page layout file](https://github.com/webpack/webpack.js.org/blob/master/components/page/page.jsx#L63) these contributors are being passed to a [contributor component](https://github.com/webpack/webpack.js.org/blob/mas

[2017-06-14 19:38] kentcdodds commented on #126
Hmmm... That's not what I think I was experiencing, but we'll see if we have more issues in the future. Thanks!

[2017-06-14 19:42] kentcdodds commented on #129
Perfect! Thanks for looking into it @tdeschryver! We could add that easily enough! Anyone wanna take on the challenge?

[2017-06-14 19:47] #74 closed

[2017-06-14 19:47] kentcdodds commented on #74
Thanks!

[2017-06-14 19:55] kentcdodds commented on #118
Thanks @tdeschryver!

[2017-06-14 19:55] #118 closed

[2017-06-15 02:38] TreTuna commented on #85
@chrisdemars Are you working on this one? Otherwise, I'll pick it up.

[2017-06-15 03:36] TreTuna commented on #67
I've got this one ready to go.

[2017-06-15 03:40] TreTuna commented on #67
[#141](https://github.com/kentcdodds/glamorous-website/pull/141)

[2017-06-15 04:57] #67 closed

[2017-06-15 04:58] kentcdodds commented on #85
Why don't you go ahead @TreTuna, there are many of other opportunities :)

[2017-06-15 10:52] irth commented on #134
I'm willing to try once I set up the website locally

[2017-06-15 12:18] TreTuna commented on #85
Done. [144](https://github.com/kentcdodds/glamorous-website/pull/144)

[2017-06-15 13:00] chrisdemars commented on #85
Yeah that is fine. I have to figure out how to work in JSX lol. Sorry.

On Thu, Jun 15, 2017 at 8:18 AM, TreTuna <notifications@github.com> wrote:

[2017-06-15 13:50] #134 closed

[2017-06-15 14:27] #85 closed

[2017-06-15 14:27] kentcdodds commented on #85
That's alright @chrisdemars! Whatever you can do is appreciated! :)

[2017-06-15 18:08] irth opened #147 "CONTRIBUTING.md - incorrect command"
**Problem Description:**
CONTRIBUTING.md states

`npm start` tries to serve the website (and expects it to be built - which makes it fail on a freshly cloned repos)

It tells the user that it couldn't find `.next/build-stats.json`, which isn't a great first experience ;)
![x](https://user-images.githubusercontent.com/1735193/27195153-eac72268-5205-11e7-9c80-a9ed7a06c9d6.png)

**Suggested Solution:

[2017-06-15 18:16] tdeschryver commented on #129
So this is a bit out of my comfort zone, but I gave it a shot.

![contributors](https://user-images.githubusercontent.com/28659384/27195488-3c8f8b3e-5207-11e7-83c0-0011df8e3d27.PNG)

[2017-06-15 18:24] kentcdodds commented on #129
Looks excellent! Let's see a pull request and we can give you some pointers 😀

[2017-06-15 18:25] kentcdodds commented on #147
Thanks! You can make a single pull request for both, that's fine 😀

[2017-06-16 03:53] anthony2025 opened #151 "Spanish Translation discussion"
I am not sure what writing style we want to use for the Spanish translations. I tried a pretty informal one, but I feel informal language in Spanish sounds a little bit forced on a technical document. Is this something we want to do?

I also like that there are some external links to other articles, but I wonder if we can add a little english tag on links. Some non-english speakers will be reading

[2017-06-16 04:02] anthony2025 commented on #151
#152

[2017-06-16 15:23] paulmolluzzo commented on #129
Closed by #148

[2017-06-16 15:23] #129 closed

[2017-06-16 15:39] kentcdodds opened #155 "FYI"
I'm going out of town for a week-long family vacation. So if I'm not responsive, that's why. Feel free to continue on and make decisions without me! I'm sure you'll all make the right choices :) See you all next week!

[2017-06-16 15:39] #155 closed

[2017-06-16 15:56] paulmolluzzo commented on #155
@kentcdodds Enjoy the vacation with the fam! 😎

[2017-06-16 19:32] bernard-lin opened #156 "Interactive tutorial for beginners"
An interactive tutorial for beginners learning css-in-js with glamorous inspired by Kye Hohenberger https://twitter.com/tkh44/status/875768337061617664

I'll be taking a stab at this one 😄

[2017-06-16 19:37] kentcdodds commented on #156
I set this as medium priority meaning that I'd _love_ to release the site with this as our on boarding experience, but it's not a _must_. I think that it would _really_ catch people's attention to have something like this though.

[2017-06-16 19:39] bernard-lin commented on #156
Sounds good to me!

[2017-06-17 05:30] kentcdodds opened #159 "Add a "practices to avoid" section"
Just didn't want to forget this. But it would be great to have a section of the docs dedicated on what not to do with glamorous.

[2017-06-17 05:32] kentcdodds opened #160 "Make or find a babel plugin to load markdown as a string"
Because I don't like the current implementation of our content. I would prefer it to just be markdown. If anyone's up for exploring this, be my guest. I'm not 100% sure I know what I want here, but I think a babel plugin would be the way to go.

[2017-06-17 05:47] kentcdodds commented on #160
By this I mean I want to be able to do `const foo =
require ('./content/foo.md')` and it will transpile that to: `const foo = 'the markdown content'`

This will need to be localized with our fallback rules, meaning we'll need to run the build once for each locale with an environment variable or something. But I think it'll be better, and it's something we need to do to make a static version of the

[2017-06-18 02:04] TreTuna commented on #78
I've got this one going

[2017-06-18 02:23] TreTuna commented on #73
@rearpo This is an issue that I was facing as well. @kentcdodds said to just use a normal git commit instead so that it bypasses this script. I believe it's an issue with working on forks of the project as per issue [#99](https://github.com/kentcdodds/glamorous-website/issues/99)

[2017-06-18 06:42] tdeschryver opened #163 "Feedback on website"
I just went through the website and wanted to share my thoughts.

- First things first, it looks awesome! Kudos to everyone!
- Seems like the [api](https://rc.glamorous.rocks/api) page has another style on it
  - other pages are split up between sections, this page isn't
  - the config part a bit looks strange to me (bullet list + checkbox)
- Would it be helpful to create a section tag to link a s

[2017-06-19 23:47] jonmajorc commented on #102
My son was just born, so I won't be able to focus my time much right now 😄

I did find in my research [Webpack](https://webpack.js.org/) does it best! I would use that has a reference 😃

[2017-06-20 00:08] paulmolluzzo commented on #102
@jonmajorc 🎉🎉🎉🎉 Congrats! Enjoy the time with your baby and get off the computer!

[2017-06-20 02:27] paulmolluzzo commented on #163
I think this is just a lack of content. It's already taking some more shape and if you inspect you can see the `section` tags.

Agreed. I think some additional (global?) styling on `ul`s would be beneficial here. Even if they just get some `padding`/`margin` to fall in line with the rest of the content.

Absolutely! Would love to have this!

Another great idea! There's already [`USERS.md`](https:/

[2017-06-20 02:35] paulmolluzzo commented on #159
One thing I really like about `glamorous` is that it's not too opinionated about how it's used. I'm not quite sure what consitutes "bad" practices. Did you have something specific in mind? I don't want to tell someone that they're "wrong" just for writing the code in a way that I might not prefer.

I think the only really Wrong Way is to shove all your CSS on one parent element and then use plain

[2017-06-20 10:07] tdeschryver commented on #163
I see you already made a PR for the header links.
Is there something that I can take on my plate? :)

[2017-06-20 10:19] paulmolluzzo commented on #163
Oh, sorry about that!

The list styling needs some love, if you want to take that on. And also address that one checkbox you mentioned. I agree it's weird looking. 😀

I'm not sure where to put the list of people using `glamorous` so if you want to experiment in a PR that'd be cool too. Originally we had a list of logos on the home page (see #8), but I'm not sure that'll work with the list we have

[2017-06-20 11:25] tdeschryver commented on #163
Oh no problem! I was just asking so we're not picking up the same issue 😄

I'll try to send a PR about the list styling later today + your PR.
And later this week I'll check out #102 or the peoples pages if its still available!

[2017-06-20 23:11] emmafallancy commented on #21
@paulmolluzzo @kentcdodds Has it already being resolved? If not, I would be happy to give it a go for this. Just wondering if it would be fine to have the twitter meta tag to be in a component and be used across other pages that would need it and populate it with `link/head`.

[2017-06-21 15:50] liadbiz commented on #160
I googled that and find a plugin herea https://github.com/khrome83/babel-plugin-transform-md-import-to-string. but I am not sure it will work.

I will try it tomorrow~

[2017-06-21 18:24] tdeschryver commented on #102
Maybe a stupid question, but do we really need this?
When starting on the implementation I asked myself which country flags I should use for the locales, for some inspiration I went looking at some sites which are already being mentioned here and there.
And none of these websites are doing this: [Jest](https://facebook.github.io/jest/), [webpack](https://webpack.js.org/), [styled-components (only

[2017-06-21 22:25] iamrudra commented on #21
@emmafallancy - AFAIK, I was the only one touching this and I am not anymore. So by all means, do the honors! :)

[2017-06-22 02:02] kentcdodds commented on #102
I wonder if it could be offensive to get the country wrong or something... Hmmm....

[2017-06-22 10:17] paulmolluzzo commented on #102
I don't think it would be offensive as it's fairly common practice to use the French flag for designating French and Spain for Spanish. Occasionally you do see English designated by an icon that's half U.K. and half USA, but AFAIK that's less about being politically correct and more about UX.

Keep in mind we're not designating locales, just language, so again a simple designation is generally acc

[2017-06-22 15:19] mwickett opened #172 "contributor.add script failling"
**Problem Description:**
It's probably something I'm doing, but I can't seem to add myself as a contributor (because vanity)

Running `npm start contributors.add` fails after entering my gh username and selecting contribution types. The error is `Unexpected token } in JSON at position 2932`

I also tried adding myself in `.all-contributorsrc`, but the `contributors.generate` script fails during th

[2017-06-22 15:47] tdeschryver commented on #172
Normally after #173 is merged, you can add yourself to the list!

[2017-06-22 15:49] kentcdodds commented on #172
I've definitely seen others report this. Let's figure out what's up!

[2017-06-22 16:09] tdeschryver commented on #163
I had some time today and started on the users page, but I'm not sure.... So far this is what I came up with.

![image](https://user-images.githubusercontent.com/28659384/27444141-afc30838-5775-11e7-8e02-b09aa1c46899.png)

[2017-06-23 07:13] emmafallancy commented on #21
@iamrudra Cool 😄 I will pick it up then 👍 Thanks!

[2017-06-24 09:22] liadbiz commented on #160
@kentcdodds I build a plugin that can transpile markdown require into string. https://github.com/liadbiz/babel-plugin-transform-md-require-to-string
hope it would help!

[2017-06-24 10:42] tdeschryver commented on #102
I played around with this for a bit and came up with this, thoughts?
![image](https://user-images.githubusercontent.com/28659384/27507900-178a0c36-58da-11e7-8c0d-2a731f0ac1f7.png)

Or with full names:
![image](https://user-images.githubusercontent.com/28659384/27507918-6c0b7380-58da-11e7-9f25-a9f8cb9e5045.png)

[2017-06-24 13:23] paulmolluzzo commented on #102
I like the full word better. Just to be sure, "Help Translate" will be printed in the currently selected language, right?

[2017-06-24 13:29] tdeschryver commented on #102
Correct @paulmolluzzo! (it still is using the content files)

[2017-06-24 18:56] ooade commented on #44
Bin busy with school lately, @paulmolluzzo how do you suggest we approach this??? Or we wait for v3??

[2017-06-24 20:00] kentcdodds commented on #44
I think I heard v3 will be released soon. Not sure what that means in terms of days, but I expect we could upgrade our version to the v3 alpha and be ok.

[2017-06-25 11:49] emmafallancy commented on #21
I just realised that the image for the twitter card for smaller version looks a bit off than the current existing ones that we have using large twitter card. Was wondering if there is any suggestion on having to resize the image, or having its own image for all other pages?

This is how it looks like for _Glamorous homepage_
<img width="506" alt="Homepage - Glamorous Twitter Card" src="https://use

[2017-06-25 13:17] kentcdodds commented on #21
Yeah, we'll want to use a different image for the smaller card. Perhaps @jonmajorc can help make one? Also, the colors have changed slightly since the original card was made, perhaps we should update the large card image as well...

[2017-06-25 13:40] emmafallancy commented on #21
Cool! I guess for now, what I can do is to use the current existing image file for the card that we have in `/static/images` directory (apart from updating the PR based on @paulmolluzzo recommendation) and once confirmed on the update for the large card image and the new image for smaller card, I will update again the PR that I have in #176

Would that be fine @kentcdodds, @paulmolluzzo ?

[2017-06-25 13:41] kentcdodds commented on #21
Sounds good to me

[2017-06-25 14:20] jonmajorc commented on #21
Here it is again! I optimized them with Tinypng.com and I changed the font color and weight based on website. Let me know if the smaller version works @emmafallancy and @kentcdodds, or if there is any other additional work you need from me 😄
![glamorous_large_card](https://user-images.githubusercontent.com/7799266/27516798-84251280-5986-11e7-9d26-6b4e05ff810c.png)
I could not find anything in the

[2017-06-25 15:17] emmafallancy commented on #21
Hi @jonmajorc 👋 ,

here's how it looks like for the smaller version of the card. Would require some resizing/optimisation for the smaller version?
<img width="508" alt="Smaller version twitter card" src="https://user-images.githubusercontent.com/22838512/27517252-d08b03b0-5a0c-11e7-8b08-47707d1a0b5f.png">

The bigger version looks fine to me 😄
<img width="508" alt="Bigger version twitter card" src

[2017-06-25 16:50] kentcdodds commented on #21
Looks like the aspect ratio is 1:1 for the smaller one. Not sure about their recommended resolution, but if we could just get a square version of the image, that'd probably be great 👍

[2017-06-25 17:27] paulmolluzzo commented on #21
A URL to a unique image representing the content of the page. You should not use a generic image such as your website logo, author photo, or other image that spans multiple pages. Images for this Card support an aspect ratio of 1:1 with minimum dimensions of 144x144 or maximum of 4096x4096 pixels. Images must be less than 5MB in size. The image will be cropped to a square on all platforms. JPG, PN

[2017-06-25 17:29] kentcdodds commented on #21
Awesome, thanks! Let's do the biggest size available and optimize it with https://tinypng.com

[2017-06-25 18:08] ooade commented on #44
Things seem to work fine with http-server, just like the one [Next.js implemented](https://github.com/zeit/next.js/blob/v3-beta/server/index.js)

Tested it on [a repo](https://github.com/ooade/NextSimpleStarter/blob/master/server.js)

![autoscaling](https://user-images.githubusercontent.com/11811904/27518475-bbbe6c80-59d8-11e7-9865-d5f12a72ca05.png)

So, we can still leave v3 for now :)

[2017-06-25 18:37] jonmajorc commented on #21
Oops! I exported the wrong slice in Figma 😄. This should hopefully do it! This would be able to be used for both large and small Twitter cards. The aspect ratio is now 1:1 at the largest size of 4096x4096!
![glamorous_card](https://user-images.githubusercontent.com/7799266/27518697-55e936ba-59ab-11e7-88b7-16285dea5da7.png)

[2017-06-25 23:19] emmafallancy commented on #21
Here's how it looks like for now,

_*Large version twitter card*_
<img width="508" alt="Large summary twitter card" src="https://user-images.githubusercontent.com/22838512/27520491-242c8ec4-5a50-11e7-9a02-2c597a2d2433.png">

_*Small version twitter card*_
<img width="507" alt="Small summary twitter card" src="https://user-images.githubusercontent.com/22838512/27520496-3da10a24-5a50-11e7-914d-8c343

[2017-06-26 10:37] tdeschryver commented on #102
Decreased the font size, aligned to left, added a border and added an hover background.
Should I create a PR for this?

![image](https://user-images.githubusercontent.com/28659384/27535616-f4571996-5a6b-11e7-861f-5e82cba6827e.png)

[2017-06-26 13:48] kentcdodds commented on #102
Yes, that looks great!

[2017-06-27 10:27] kentcdodds commented on #160
Thanks @liadbiz! I put some work into this in #177 :)

[2017-06-27 17:21] tdeschryver commented on #26
Would a custom 404 page provide added value?
(Right now the default `now`s 404 page is being used)

[2017-06-27 17:25] kentcdodds commented on #26
Yes, a good 404 would be welcome!

[2017-06-27 18:32] tdeschryver commented on #26
I tried implementing the users part, but with the logos that I found it kinda looks strange imo.
Does this need to be worked on?
(Also if I'm asking too many questions or interfering too much you can always say so :smile: )

![image](https://user-images.githubusercontent.com/28659384/27603736-4a3cc9c6-5b77-11e7-8805-f00a34c2531c.png)

[2017-06-27 18:49] kentcdodds commented on #26
Yeah, it does look kinda funny... I think a white background would be better. Also, we need to get official permission to use logos.

I want to do users after our initial release. Let's focus on other stuff :)

[2017-06-29 20:38] #151 closed

[2017-06-30 03:03] kentcdodds opened #179 "Help implement something"
We're going to be running builds for every locale and I want to run them in parallel. But eventually there will be too many to run in parallel and we should throttle how many we have.

We're going to use concurrently to run things in parallel and this could be simplified if we implement this: https://github.com/kimmobrunfeldt/concurrently/issues/96

Anyone wanna work on that? Should be kinda fun :

[2017-06-30 04:46] piq9117 commented on #179
I've been using RxJS in angular not sure if my skills will suffice. 🤔

[2017-06-30 05:47] shakyShane commented on #179
here's a hint, there's more to it than this, but it should provide enough pointers.

the following will only ever run a maximum of 2 processes at any one time.

[code]

[2017-06-30 15:00] gillchristian commented on #179
@shakyShane awesome :sunglasses:

I might have time this Sunday to work on this but can't promise so feel free take it :smile:

[2017-06-30 17:09] abs-zero commented on #179
How do I get started? 😀

[2017-06-30 17:24] kentcdodds commented on #179
I recommend going to the issue: https://github.com/kimmobrunfeldt/concurrently/issues/96

And mention you want to help out. Then follow the contributing guidelines. [this could help](http://kcd.im/pull-request) especially if you're new to OSS :)

Good luck! And thank you!

[2017-06-30 18:46] kentcdodds commented on #44
Get this! We're on v3 (beta) now and the static export works really well! I think we're ready to go! Pretty sure we just need to have something [here](https://github.com/kentcdodds/glamorous-website/blob/master/package-scripts.js#L16) to copy the sw.js file right?

[2017-06-30 18:47] kentcdodds commented on #160
This has been implemented and it's pretty sweet! Docs have been updated and people can finally start using real markdown now :tada:

[2017-06-30 18:47] #160 closed

[2017-06-30 18:57] kentcdodds opened #180 "title not being shown?"
This is weird... https://rc.glamorous.rocks/

<img width="631" alt="screen shot 2017-06-30 at 12 57 24 pm" src="https://user-images.githubusercontent.com/1500684/27750125-b165c5e4-5d93-11e7-97fa-c286c0cfcc89.png">

Anyone know what's going on?

[2017-06-30 18:58] kentcdodds commented on #114
Anyone wanna investigate this?

[2017-06-30 19:15] paulmolluzzo commented on #180
When I inspect it's not in the `title` tag.
![screen shot 2017-06-30 at 3 16 34 pm](https://user-images.githubusercontent.com/737065/27750707-fde5e198-5da6-11e7-9b15-9868a2219959.png)

[2017-06-30 19:23] paulmolluzzo commented on #114
It's the documentation. Look at this line: https://github.com/kentcdodds/glamorous-website/blob/master/components/docs-page.js#L67

`{interactiveMarkdown(heading)}` is shoving a `<div><p>[content]</p></div>` inside the heading.

This is happening on all the headings actually. 😕

[2017-06-30 19:26] paulmolluzzo commented on #114
https://github.com/kentcdodds/glamorous-website/blob/master/components/docs-page.js#L111

Maybe it should just be:
[code]

[2017-06-30 19:36] kentcdodds commented on #114
But some of the titles are written in markdown. I've actually dealt with this before. [This](https://github.com/kentcdodds/kentcdodds.com/blob/2e6b14628efbd6c064f4bf38c680d2d307451772/src/utils.js#L71-L77) is what I did:

[code]

We could probably do the same thing pretty easily...

[2017-06-30 19:48] kentcdodds commented on #126
Woo! We're now using static deploys with Next.js v3's export feature and it's amazing!

We don't need to worry about this anymore :tada:

[2017-06-30 19:48] #126 closed

[2017-06-30 19:49] #114 closed

[2017-06-30 20:26] tdeschryver commented on #180
Seems like the title does show for a couple of seconds while the page is still loading...
Could it be that it has something to do with [NextScript](https://github.com/kentcdodds/glamorous-website/blob/master/pages/_document/index.js#L40)? After removing this line, the title shows locally.

[2017-06-30 20:30] kentcdodds commented on #180
Hmmmmm 🤔

[2017-06-30 21:12] paulmolluzzo commented on #180
We can't remove `NextScript`, that's the bundle.

It's possible that it's because we're using `Head` in the `_document` and in the page and not setting the `title` in the page, or that `title` doesn't have content in all the pages, or something along those lines.

[2017-06-30 21:59] kentcdodds commented on #156
Alrighty, I've got something started! Here's what anyone needs to know to make it more awesome:

- The markdown file that's rendered on the right side is [here](https://github.com/kentcdodds/glamorous-website/blob/master/pages/getting-started/content/guide.md), the code snippet on the left is [here](https://github.com/kentcdodds/glamorous-website/blob/master/pages/getting-started/content/getting-s

[2017-06-30 22:10] tkh44 commented on #156
@kentcdodds you need to emit the files I believe.

https://github.com/zeit/next.js/blob/master/examples/with-global-stylesheet/next.config.js#L6

[2017-06-30 22:12] tkh44 commented on #156
I wouldn't have the user style the code block. Just leave that one out so that it is more accessible to read the intro snippets. This is just something I observed.

Also you should be able to hook up analytics events to the examples to see where people get stuck.

[2017-06-30 22:21] kentcdodds commented on #156
@tkh44, not sure what you mean... It works [as-is](https://rc.glamorous.rocks/getting-started/) 🤔

Great observations/perspective/learnings. Thank you!

[2017-06-30 22:28] kentcdodds commented on #180
lol, I read this as:

😅

And now the site's not interactive 😅

I'll be eh... reverting that now :)

[2017-06-30 22:49] kentcdodds opened #184 "Improve a11y of the locale chooser"
**Problem Description:**

If you're just using the keyboard, the locale chooser isn't very accessible. We can do better :)

![a11y](https://user-images.githubusercontent.com/1500684/27756331-d0eb6854-5db3-11e7-89d1-69bec5b43183.gif)

**Suggested Solution:**

Let's make the keyboard only experience great:
- Highlight the dropdown
- Use proper `aria` tags
- Improve the highlight of individual items

[2017-06-30 23:04] paulmolluzzo commented on #180
😂

So, the `Head` in the pages not having a title might be to blame. It seems annoying to repeat it everywhere, but everything we want in the `<head>` needs to be defined in the `Head` component on every page. We probably even have to move the `viewport` stuff into each instance.

[2017-06-30 23:23] ooade commented on #44
Having issues serving js files via static export. Maybe @paulmolluzzo can help with this :sweat:

[2017-07-01 01:40] trxcllnt commented on #179
side note: I love and recommend paul betts'a [spawn-rx](https://github.com/paulcbetts/spawn-rx) for doing child procs with Rx in node

[2017-07-01 02:28] kentcdodds commented on #44
Hmmm... I was thinking that we could just copy the service worker file to each of the build directories. Or is it not that simple?

[2017-07-01 04:11] #54 closed

[2017-07-01 04:12] kentcdodds commented on #21
I think this is done...

[2017-07-01 04:12] #21 closed

[2017-07-01 04:15] kentcdodds commented on #65
We've got this. Just need to add annotations as we go!

[2017-07-01 04:15] #65 closed

[2017-07-01 04:16] #147 closed

[2017-07-01 04:16] #102 closed

[2017-07-01 04:16] #99 closed

[2017-07-01 04:16] #95 closed

[2017-07-01 05:59] tkh44 commented on #156
@kentcdodds I was referring to the hot reloading not working. I totally spaced out while writing it I guess. 😅

[2017-07-01 06:01] tkh44 commented on #156
btw it looks great!

[2017-07-01 18:30] kentcdodds commented on #156
Hey @tkh44, I was looking into `emit-file-loader` and it looks like it's internal to next... Is it available to me? Also, do you have any idea how I'd actually use it/what exactly it does?

[2017-07-01 19:54] kentcdodds commented on #121
I've opened up this: https://github.com/kentcdodds/glamorous-website/pull/188

Feedback/reviews appreciated!

[2017-07-02 16:47] #121 closed

[2017-07-02 16:49] kentcdodds opened #189 "Improve mobile"
**Problem Description:**

The title is too small and the nav should probably have a background color (could have an light transparency)

<img width="335" alt="screen shot 2017-07-02 at 10 48 13 am" src="https://user-images.githubusercontent.com/1500684/27771840-1653d974-5f14-11e7-9ea2-fab9a02a4ce8.png">
<img width="336" alt="screen shot 2017-07-02 at 10 48 05 am" src="https://user-images.githubuse

[2017-07-02 17:17] paulmolluzzo commented on #189
I thought I fixed this in #188... 😕

We had the `h1` as `3vw` for mobile. It should be more like `5vw`. IMHO `rem` is better for fonts in general.

[2017-07-02 17:18] kentcdodds commented on #189
Yeah, I thought I was being clever with the vw thing, but it's dumb and we should remove it in favor of rem or em.

[2017-07-02 17:34] paulmolluzzo commented on #189
😂

[`rem`](https://zellwk.com/blog/rem-vs-em/)

[2017-07-02 19:38] paulmolluzzo commented on #189
For whoever takes this on, IIRC our base styles are using `rem`, so it sorta weighs a little more favorably to using it everywhere. I'd also suggest/ask that any other font size specification be changed to match the unit being used. Just makes everything easier to reason about.

[2017-07-02 21:19] #189 closed

[2017-07-02 21:20] paulmolluzzo commented on #180
Should be closed by #190. Please make a new issue if it persists on a specific page.

[2017-07-02 21:20] #180 closed

[2017-07-02 21:26] kentcdodds opened #191 "Improve a11y of docs pages"
This text isn't very accessible 😶 the font is too thin/small/low contrast? Ideas?

![screenshot_20170702-152528](https://user-images.githubusercontent.com/1500684/27773613-ce400d84-5f3a-11e7-9ba5-378c5da1acb4.png)

![screenshot_20170702-152532](https://user-images.githubusercontent.com/1500684/27773614-d65befba-5f3a-11e7-8162-7a06d0c70673.png)

[2017-07-02 21:30] paulmolluzzo commented on #191
The obvious things are to increase the font weight and size, and maybe force the bulk of the content to have a white BG. But there may be more to it than that. @mwickett any thoughts? I feel like we've addressed this before but maybe we regressed?

[2017-07-03 01:52] mwickett commented on #191
That's odd. It wasn't like that before I don't think.

Sorry, I haven't been keeping up lately. Can take a look tomorrow
afternoon.

On July 2, 2017 at 17:30:33, Paul Molluzzo (notifications@github.com) wrote:

[2017-07-03 23:40] mwickett commented on #191
Definitely a regression. This is what I see on my out-of-date local copy.

<img width="411" alt="screenshot 2017-07-03 19 38 19" src="https://user-images.githubusercontent.com/845983/27810380-84c579f8-6027-11e7-9540-32b51c3d3e9a.png">

[2017-07-03 23:51] paulmolluzzo commented on #191
@mwickett can you blame/diff the related files and submit a PR to fix this please? This was valuable work you put in, we don't want to lose it. 😀

[2017-07-04 01:11] kentcdodds commented on #45
Alright! Now we're ready! I got this message from Algolia:

I'm going to get more specifics about how we'll update things when we actually release the website (like the `rc` and `fr.rc` thing will probably be removed). But I think we can get something done with this for now.

Anyone can feel free to work on this. Just chime in and say you've started. We could take inspiration out of [jest](https:/

[2017-07-04 01:45] mwickett commented on #191
The only file that changed in my PR #170 was `styles/base.js` and it doesn't look like anything has changed since then.

This is unrelated, but I can't run `master` locally - getting this error:

[code]

[2017-07-04 01:46] kentcdodds commented on #191
You'll need to upgrade to node 8, sorry!

[2017-07-04 01:56] paulmolluzzo commented on #191
I wonder if it's the `opacity` or that we're re-setting the `fontFamily` on the `Wrapper` component: https://github.com/kentcdodds/glamorous-website/commit/663e539910042f8e07fa9a17d0d9c7d3d7f4215d#diff-bc4150d023d3255136db671d61ac93f2

[2017-07-04 02:04] kentcdodds opened #194 "Translate the site into German"
I would like to have this site translated into German. Who wants to help?

[2017-07-04 02:04] kentcdodds commented on #194
I'm going to start now :)

[2017-07-04 02:15] RIanDeLaCruz commented on #45
I'll work on this. I've already started something :)

[2017-07-04 03:03] kentcdodds commented on #194
So I kinda sorta started on this, but I don't know German! Who wants to [help](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md)?

[2017-07-04 14:02] kentcdodds commented on #45
This is the config for our search. Anytime we need to make changes to the search, we just make a pull request to this file: https://github.com/algolia/docsearch-configs/blob/master/configs/glamorous.json

[2017-07-04 18:28] tdeschryver opened #196 "Markdown list rendering funky"
**Problem Description:**
There is an extra `<` while rendering a markdown list (ordered and unordered).

Can be seen in [Advanced Guides](https://rc.glamorous.rocks/advanced/)

![image](https://user-images.githubusercontent.com/28659384/27840154-11af4b12-60f7-11e7-8b20-f59b719c4647.png)

**Suggested Solution:**
Removing the last line (` .slice(3, -5)`) in `md-to-html` seems to fix this problem but

[2017-07-04 18:38] paulmolluzzo commented on #196
Hmm, probably need to update that to be `slice(3, -6)`.

We're slicing off some extra HTML tags of the rendered HTML. You can see it by inspecting the source, and it's probably happening because these are `li`s and not `p`s.

I wonder if simply putting an empty line after the list in the markdown would solve it.

[2017-07-04 19:04] tdeschryver commented on #196
@paulmolluzzo just tried adding an empty line but the `<` is still being rendered.

[2017-07-04 19:21] kentcdodds commented on #196
I've got some ideas for this. Let me give it a look

[2017-07-04 19:27] paulmolluzzo commented on #196
I'm thinking using `replace` to remove the first and last tag.

[2017-07-04 19:32] kentcdodds commented on #196
I'm pushing a PR now.

[2017-07-04 20:02] #196 closed

[2017-07-04 22:00] kentcdodds opened #199 "Code highlighting of code blocks + react-live"
**Problem Description:**

Check this out:

![colors](https://user-images.githubusercontent.com/1500684/27843510-abadd90c-60d1-11e7-8407-aa938fa4f48d.gif)

You'll notice that at the start there's no syntax highlighting, then when we open (and render) the react-live stuff, it runs some prism code related stuff which ends up highlighting our code block. This is actually pretty cool, but we need to fi

[2017-07-05 20:35] tdeschryver commented on #184
Closed by #185

[2017-07-05 20:35] #184 closed

[2017-07-05 20:46] #163 closed

[2017-07-05 21:03] kentcdodds commented on #199
Fixed.

[2017-07-05 21:03] #199 closed

[2017-07-05 21:12] #113 closed

[2017-07-06 10:21] liadbiz opened #202 "translate website into Chinise"
Thanks @kentcdodds , now we can handle docs with markdown files, it  will be so easy to translate docs. I would like to translate thie website into Chinise. If anyone can help, raise you hands here so that we can work together :smile_cat:

[2017-07-06 10:22] liadbiz commented on #194
@kentcdodds how about Chinise version? I have filed an issue here #202 :smile:

[2017-07-06 13:54] kentcdodds commented on #202
Wonderful! Yes! Please get started! I recorded myself adding German. Wasn't practiced so I had to do a lot of stuff, but it will hopefully be helpful: http://www.twitch.tv/kentcdodds/v/156447077?sr=a&t=17s

[2017-07-06 20:39] bernard-lin commented on #156
Oops sorry, totally dropped the ball on this one! Let me know if you need anything else

[2017-07-06 20:40] bernard-lin commented on #202
Happy to help!

[2017-07-06 20:53] kentcdodds commented on #156
Yes please! Any help you can give would be appreciated :) It's pretty much in the same state it was when you left it :)

[2017-07-06 21:01] kentcdodds commented on #202
Ok, I've added chinese. All you need to do now is follow [the contributing guidelines](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md). Good first step would probably be to fix anything Google Translate messed up [here](https://github.com/kentcdodds/glamorous-website/blob/master/pages/index/content/zh/index.md) :smile:

[2017-07-08 00:04] bernard-lin commented on #202
Good reference for terminology here: https://discountry.github.io/react/ This will probably form the core of the Chinese translation when React gets its translation tool up and running
Referenced in https://github.com/facebook/react/issues/9860

[2017-07-08 01:45] paulmolluzzo opened #204 "Steps to Release"
**Problem Description:**

It's unclear what we need to finish before we release.

**Suggested Solution:**

If we're not going to use the Projects tab (I'm not keen on it personally), let's list the remaining items in a single issue or mark the issues that are required assign so we have a way of tracking progress.

Ideally I'd like to set a date for release, but considering this is open source mayb

[2017-07-08 03:01] kentcdodds commented on #23
Going to go ahead and close this for now. Let's just keep an eye on things.

[2017-07-08 03:01] #23 closed

[2017-07-08 03:02] kentcdodds commented on #26
Closing this issue now. We can open new issues for specific design things we want to do...

[2017-07-08 03:03] #26 closed

[2017-07-08 03:04] kentcdodds commented on #179
For now, I think we can just do fancy stuff in the `package-scripts.js`, but would really love it if someone were to implement this so we don't have to do that.

[2017-07-08 03:05] kentcdodds commented on #45
Ping @RIanDeLaCruz, do you have an update for us? Should we have someone else try to pick this up?

[2017-07-08 03:10] kentcdodds opened #205 "Write a blog post"
For the RELEASE!!! HYPE!!!

Also, wanna release a new breaking change for glamorous. There are one or two things I'd like to do for that... People love new major versions #hype

[2017-07-08 03:11] kentcdodds commented on #204
Thanks for bringing this up! I was literally thinking about this just a few hours ago. So I took the existing issues and put some in a Milestone called [`release`](https://github.com/kentcdodds/glamorous-website/milestone/1) (because projects is not working very well and I'm not huge on them either).

Setting a date will be hard, as you said... So we wont do that.

Very true, I've been guilty of w

[2017-07-08 05:32] RIanDeLaCruz commented on #45
I'm just finishing it up. Was experimenting with something on my local machine for this

[2017-07-08 05:34] kentcdodds commented on #45
Cool! Thanks!

[2017-07-08 05:34] RIanDeLaCruz commented on #45
When's target release?

[2017-07-08 05:38] kentcdodds commented on #45
No target really, but I'd love this in a week or two!

[2017-07-08 05:40] RIanDeLaCruz commented on #45
Alright.

[2017-07-08 06:32] RIanDeLaCruz commented on #45
Just for transparency here, it took me a while because I'm really just starting to go into OSS for React projects and tried to create the Algolia integration on my own.

Will just be using the React components from Algolia themselves, which I just found

[2017-07-08 06:58] RIanDeLaCruz commented on #45
Also, what's the app id? @kentcdodds

[2017-07-08 11:38] paulmolluzzo commented on #204
👌 thanks @kentcdodds!

[2017-07-08 11:55] paulmolluzzo commented on #205
🎉🎉 Get Hyped!

Post a link to the draft when we're ready for it. I'd love to give it a look.

[2017-07-08 13:43] kentcdodds commented on #45
Our API key is: `b5cb8dd730a01fb05e75f21396760fb8`

On Sat, Jul 8, 2017 at 12:58 AM Ian De La Cruz <notifications@github.com>
wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2017-07-08 18:42] kentcdodds commented on #71
I'll go ahead and do this

[2017-07-08 18:42] kentcdodds commented on #72
I'm taking this one.

[2017-07-08 19:17] kentcdodds commented on #179
Ok, so I switched from parallel to series on the build script and that'll fix the build breaking, but I'd love to get this implemented so we could get things running in parallel again. Our build runs pretty slow now...

[2017-07-08 19:18] #71 closed

[2017-07-08 19:18] #72 closed

[2017-07-08 19:54] tdeschryver commented on #84
@williamolojede Is it OK if i'm taking this one?

[2017-07-08 19:56] tdeschryver commented on #82
@liadbiz have you already started adding the sections, if not I'll take this one tomorrow.

[2017-07-08 19:59] kentcdodds commented on #84
Go ahead, there are plenty of other things people can help with. Thanks!

[2017-07-08 20:00] kentcdodds commented on #82
I actually think this one's done

[2017-07-08 20:13] tdeschryver commented on #82
@kentcdodds Getting started is indeed already done, but @liadbiz suggestion about adding `problem` and `solution` is not.

[2017-07-08 21:32] #84 closed

[2017-07-09 02:27] paulmolluzzo commented on #78
Looks done!

[2017-07-09 02:27] #78 closed

[2017-07-09 02:29] liadbiz commented on #82
@tdeschryver Now the content of getting-started page have been rewrited by @kentcdodds , it is an interactive guide, so "the problem" and "this solution" maybe not sure to be putted in here.
what is your idea? @kentcdodds

[2017-07-09 02:32] kentcdodds commented on #82
Yeah, definitely want to put something in there about motivations for why the library exists and what problems it's solving... I'll give it thought...

[2017-07-09 02:52] paulmolluzzo commented on #69
I'm not really sure what you have in mind for this. Do you mean using `glamor` to define a `className` and then using that to style a component?

[2017-07-09 03:32] #73 closed

[2017-07-09 04:13] kentcdodds opened #212 "Fix locale chooser"
When I pop open the nav the locale chooser leaves a TON of empty space (I think because of `visibility: collapsed`). Let's find a way to get rid of all that space.

![screen shot 2017-07-08 at 10 12 31 pm](https://user-images.githubusercontent.com/1500684/27991139-a29640e6-642a-11e7-8a96-7fcaebf96c3d.png)

cc @tdeschryver, could you work on this?

[2017-07-09 04:17] kentcdodds commented on #69
Yeah, pretty much. Should be small, but let's make it interactive :smile:

[2017-07-09 06:18] kentcdodds commented on #82
Ok this is done! Thanks!

[2017-07-09 06:18] #82 closed

[2017-07-09 10:24] RIanDeLaCruz commented on #45
@kentcdodds Uhm, this is the API key. I was asking for the APP ID 😅

[2017-07-09 12:53] #212 closed

[2017-07-09 13:00] kentcdodds commented on #45
I don't think that I have access to the Algolia settings for this actually. I think it's all managed by Algolia for us. What do you need the app id for? Looking at the code snippet I copied above, I don't think we need it. Are you not using the code snippet above?

[2017-07-09 13:20] RIanDeLaCruz commented on #45
Looks like I'll take a bit longer.

Was encountering errors that, apparently, was due to Next

[2017-07-09 13:21] kentcdodds commented on #45
What errors? How can we help you?

[2017-07-09 14:06] paulmolluzzo commented on #45
@RIanDeLaCruz to echo this a bit, if you want to open a PR as a work in progress with the errors you're seeing then we can help find a solution. 😀

[2017-07-09 15:01] RIanDeLaCruz commented on #45
I am using Algolia's InstantSearch component, which requires the app ID

Unfortunately, it's not playing well with Next. I wanted to implement auto-complete, and I've found an example that works (tried it on its own), but it's not on this project

@paulmolluzzo Will do that

[2017-07-09 15:03] kentcdodds commented on #45
Hmmm.... Why don't we just use the code snippet they provided us with for now and we can think about using the React component later?

[2017-07-09 15:03] kentcdodds commented on #45
But if you want to make the react component work that's great. I'll try to find the app id to use.

[2017-07-09 15:45] kentcdodds commented on #45
Here's the app id!

[2017-07-09 19:49] chrisdemars commented on #23
Sounds good

On Fri, Jul 7, 2017 at 11:01 PM Kent C. Dodds <notifications@github.com>
wrote:

[2017-07-10 02:47] paulmolluzzo commented on #69
Coming any minute now... 😎

[2017-07-10 03:06] paulmolluzzo commented on #172
@mwickett can you confirm this is this resolved by #173? Thanks!

[2017-07-10 03:11] #69 closed

[2017-07-10 03:12] kentcdodds commented on #172
Oh yeah, I think it is. I'm going to go ahead and close this. Please re-open if it's not resolved.

[2017-07-10 03:12] #172 closed

[2017-07-10 03:32] #156 closed

[2017-07-10 03:36] paulmolluzzo commented on #76
I'm not 100% sure what we want here? Are you thinking something like this: https://twitter.com/kentcdodds/status/880854277266198528

[2017-07-10 03:43] kentcdodds commented on #76
Bingo. All the places you can use regular class names. So that's good, also the className prop. Also, this would probably be a good example as well: https://twitter.com/kentcdodds/status/881537950361591808

[2017-07-10 03:43] kentcdodds commented on #76
Also, the css prop can take a class name

[2017-07-10 04:41] kentcdodds opened #218 "Add metadata to translated files indicating whether they're up to date"
**Problem Description:**

Some translated files are out of date. This could cause people to view them and think that's all there is when in reality there's more updated information.

**Suggested Solution:**

Let's add metadata to the content object [here](https://github.com/kentcdodds/glamorous-website/blob/83c98ee6d0f9c81230b83905f3a6dcef9f967ba1/other/babel-plugin-l10n-loader.js#L82-L89) indicat

[2017-07-10 08:26] RIanDeLaCruz commented on #45
I got the snippet to work already. I just need help in styling it now

[2017-07-10 10:24] paulmolluzzo commented on #218
Do you have an idea for determining if a file is outdated? For example, writing a date into the metadata and comparing it to... something? I don't think we can compare "last updated" dates across languages. We would need to say that one is the source of truth, and account for small changes like typos that may not affect translations.

I'm wondering if it's better to just put the date the source .m

[2017-07-10 10:42] tdeschryver commented on #218
I was thinking the same thing as @paulmolluzzo.
But where I still see an issue is; what if the content isn't being changed, then after a month it will be shown as not up to date, but it is tho.

[2017-07-10 12:59] kentcdodds commented on #45
Awesome! Thanks! Mind opening a PR for what you have so far? That way we can provide feedback sooner :smile:

[2017-07-10 13:00] kentcdodds commented on #218
As mentioned:

So we basically say: "If the english translation change date is newer than the locale's change date, then it is outdated"

It's imperfect, but it's better than nothing I think.

[2017-07-10 13:02] RIanDeLaCruz commented on #45
Alright

[2017-07-10 13:07] RIanDeLaCruz commented on #45
https://github.com/kentcdodds/glamorous-website/pull/219 😄

[2017-07-10 14:58] kentcdodds opened #221 "Add a section that contains the most common pitfalls and how to avoid them"
**Problem Description:**

There are common things people should avoid doing

**Suggested Solution:**

I think if we had a new page for that we could recommend _everyone_ read that page regardless of how you're using glamorous. Here are some things that should be on that page:

- [ ] Remember to forward the `className` if you're wrapping a custom component in `glamorous` https://github.com/paypal/g

[2017-07-10 15:04] kentcdodds opened #222 "Make example for component as selector"
**Problem Description:**

Sometimes it's useful

**Suggested Solution:**

Document how you'd do that. See examples in https://github.com/paypal/glamorous/issues/136 and https://github.com/paypal/glamorous/issues/183 (also use cases in https://github.com/paypal/glamorous/issues/202)

[2017-07-10 15:09] kentcdodds opened #223 "Add example to typescript usage guide"
**Problem Description:**

[Something](https://github.com/paypal/glamorous/issues/211) was confusing

**Suggested Solution:**

Make it less confusing by including @luke-john's example from that issue in [the typescript docs](https://github.com/kentcdodds/glamorous-website/blob/master/pages/api/content/typescript.md) :smile:

[2017-07-10 23:20] kentcdodds commented on #218
Ok, so I've extracted the logic, all we need to do is use [this function](https://github.com/kentcdodds/glamorous-website/blob/master/other/translation-status.js) right around [here](https://github.com/kentcdodds/glamorous-website/blob/43c64cbb791f0b0cfc3992bdc62a74c1b9805d7c/other/babel-plugin-l10n-loader.js#L83-L88) to assign a `translationStatus` if it's not the `fallbackLocale`, then we can us

[2017-07-10 23:29] kentcdodds commented on #37
I'm pretty sure that we could do this fairly easily with the [`prettier-eslint`](https://github.com/prettier/prettier-eslint) API and using it right [here](https://github.com/kentcdodds/glamorous-website/blob/43c64cbb791f0b0cfc3992bdc62a74c1b9805d7c/other/babel-plugin-l10n-loader.js#L145) with something like:

[code]

Something like that... 🤔 :smile:

[2017-07-12 03:23] kentcdodds opened #228 "Conventionalize the page content files"
**Problem Description:**

We should probably list out our page sections like styled-components does:

![screen shot 2017-07-11 at 9 15 12 pm](https://user-images.githubusercontent.com/1500684/28100228-0c6c4fb0-667e-11e7-833b-b6c056ba73d3.png)

(Both a special page for it as well as on the left-hand nav)

But we can't do that without hard-coding them and/or requiring the files in the Nav component

[2017-07-12 03:27] kentcdodds commented on #218
I'm going to start working on this :+1:

[2017-07-12 10:32] #218 closed

[2017-07-12 20:27] paulmolluzzo commented on #221
@tkh44 That's a great tip! I'm really interested in seeing flame graphs if you want to share. (Your benchmarks on `emotion` are 💯. Thank you!)

`restyles` looks awesome. We should have that in Integrations for sure!

[2017-07-12 21:42] tkh44 commented on #221
Here is a gif explaining this concept better than anything I could write.

![quickdigitalanura-size_restricted](https://user-images.githubusercontent.com/662750/28141107-6c3927d4-6718-11e7-8b7b-630f60e9fecb.gif)

Here you can see that one glamorous component is under 1ms so not bad. The problem is when you nest multiple glamorous elements as you can see. There were ~30 items in that section so it

[2017-07-13 02:52] paulmolluzzo commented on #76
Incoming!

[2017-07-13 04:06] #76 closed

[2017-07-14 11:40] motleydev commented on #228
I've had similar issues in the past where I've used an "order" prop in the front-matter of the content file. Is there any reason you'd prefer doing this with the filename?

[2017-07-14 17:54] kentcdodds commented on #228
I like using the filename because you don't have to open the file to know the order. Makes it easier to avoid having two files with the same number. Though I guess we could throw an error if we find that or something 🤔

[2017-07-15 23:55] luke-john commented on #223
I've also got an [in progress introduction to glamorous with typescript blog post](https://gist.github.com/luke-john/2335f748cbcf4acb8fcb5357b00fccef) which I'll hopefully get time to finish sometime this week.  Some of the examples from that will likely be handy for this section.

Note: the typings on that blog post are based on the typings for vnext of glamorous from https://github.com/paypal/gl

[2017-07-16 04:17] #45 closed

[2017-07-16 04:59] kentcdodds opened #237 "Fix the website"
It's broken: https://rc.glamorous.rocks/

![screen shot 2017-07-15 at 10 55 59 pm](https://user-images.githubusercontent.com/1500684/28244752-ca7c32f6-69b0-11e7-94e7-7773f5ff76bd.png)

The problem fixes itself if I comment out [this algolia `docsearch` code](https://github.com/kentcdodds/glamorous-website/blob/d1ec291df19b90096e51c1e15ea3ef1974d684ed/components/algolia-config.js#L33-L41). [The err

[2017-07-16 05:48] luke-john commented on #237
just had a quick look and it appears to be a race condition with that script. will open a pr shortly.

[2017-07-16 13:28] #237 closed

[2017-07-17 05:53] iGitScor opened #239 "Translate website into French"
**Problem Description:**

To have a multilingual website to enable many people to use this project more effectively.

**Suggested Solution:**

To translate this site into French 🇫🇷

- [ ] `pages/_document`
- [ ] `pages/advanced`
- [ ] `pages/api`
- [ ] `pages/basics`
- [x] `pages/examples`
- [ ] `pages/getting-started`
- [ ] `pages/integration`

[2017-07-17 05:54] iGitScor commented on #239
I'm working on it

[2017-07-17 12:18] luke-john opened #241 "The rc Website can't be reached"
**Problem Description:**

When visiting https://rc.glamorous.rocks/ chrome gets the following error.

[code]

![image](https://user-images.githubusercontent.com/848525/28267509-e20c8cfe-6b2c-11e7-9b59-18943f0ebb41.png)

**Suggested Solution:**

[2017-07-17 12:34] luke-john commented on #241
Look like it's resolved itself? might have been an issue with the now hosting ¯\_(ツ)_/¯.

[2017-07-17 12:34] #241 closed

[2017-07-17 12:59] kentcdodds commented on #239
Wonderful!

[2017-07-17 13:11] kentcdodds commented on #241
Yeah, I noticed that this morning too and fixed it with [this weird guide](https://usefulpcguide.com/18302/fix-err_spdy_protocol_error-google-chrome/) (specifically step 3). No idea what's up there 😖

[2017-07-18 06:20] iGitScor opened #243 "Broken link in the documentation"
Hi,

**Problem Description:** There is a broken link for a deployed app example.
Broken link: https://with-glamorous-zrqwerosse.now.sh

**Page:** https://rc.glamorous.rocks/integrations/#next.js(https:github.comzeitnext.js) (section `next.js`)

**Suggested Solution:** If there is another example, switch links, otherwise, change the content

[2017-07-18 23:35] kentcdodds commented on #243
Thanks @iGitScor! Anyone can feel free to deploy that example and update the URL 👍

[2017-07-19 17:53] #243 closed

[2017-07-21 01:36] paulmolluzzo commented on #191
Is this still an issue?

[2017-07-21 01:37] paulmolluzzo commented on #205
Might want to get started on this... 😄

[2017-07-21 01:37] paulmolluzzo commented on #204
I think we're close! :crossed_fingers:

[2017-07-21 16:07] kentcdodds commented on #191
Ummm... I guess we're good :+1:

[2017-07-21 16:07] #191 closed

[2017-07-21 16:08] kentcdodds commented on #205
Haha, yeah 😅
hopefully this weekend. Been working on getting the releases ready. I think the codemod is ready. Could you review that? https://github.com/paypal/glamorous/pull

[2017-07-21 16:11] mwickett commented on #191
I think it's good - the code editor stuff still flags on aXe, but that's a bit of a ball of wax that may be a challenge to dig into.

I dropped the ball on this one guys, my apologies!

[2017-07-21 22:32] kentcdodds commented on #191
Thanks for all you've done @mwickett

[2017-07-25 15:24] ajwhite opened #249 "Add glamorous-native to Integrations"
Would love to see [glamorous-native](https://github.com/robinpowered/glamorous-native) as an integration, and perhaps a section(?).

I won't be able to get to this in the short term, so anyone who'd like to take a stab, that'd be awesome!

[2017-07-25 15:32] kentcdodds commented on #249
It exists in the ["basics"](https://rc.glamorous.rocks/basics#glamorous-native) but maybe it should get its own page?

[2017-07-25 15:39] ajwhite commented on #249
I think having its own page would be ideal since it could use a handful of examples

[2017-07-28 23:03] kentcdodds opened #254 "Upgrade react-live or implement TabGate"
**Problem Description:**

[React-live isn't very accessible](https://github.com/FormidableLabs/react-live/issues/19)

**Suggested Solution:**

Make our own implementation of [TabGate](https://github.com/FormidableLabs/react-live/blob/e0551d7d9a00f40105629fcc6df05b5d38792c34/demo/components/TabGate.js) or help get [this merged](https://github.com/FormidableLabs/react-live/pull/23) and released so w

[2017-07-28 23:13] paulmolluzzo commented on #254
What if we make a global keyboard shortcut to bind `esc` to trigger a `click` event on the document body? Wouldn't that work?

[2017-07-28 23:21] kentcdodds commented on #254
That's a good point! We'd want to add a note somewhere by all the react-live samples and have a screenreader mention that's possible, but that shouldn't be terrible :+1:

[2017-07-28 23:35] kentcdodds commented on #205
Tracking this here: https://github.com/paypal/glamorous/pull/253

[2017-07-28 23:55] paulmolluzzo commented on #254
I'll try to get to this tonight or one night this weekend. (I've been busy lately and haven't had much time for OSS. 😔)

I believe I see an issue with this solution: We'll never be able to tab past the first react live instance. `esc` will effectively put you back to the beginning of the document WRT tabbing. IDK for sure though. 🤔

[2017-07-29 01:26] burge-is commented on #254
Here's what may be a better iteration of [TabGate](https://github.com/burge-is/react-live/blob/fe1242497dd90cb847009d54b7daab3b5094c6df/src/components/Editor/TabGate.js) for react-live (no dotted outline). Just did some testing on it and didn't notice any issues.

[This](https://github.com/FormidableLabs/react-live/pull/23) current iteration of the other PR mentioned is currently exhibiting undesi

[2017-07-29 01:29] kentcdodds commented on #254
I think what you have in that gif is great and I'd love it if you could submit a pull request 😍❤️

[2017-07-29 01:31] burge-is commented on #254
That behavior is the current state of the existing PR.

[2017-07-29 01:35] kentcdodds commented on #254
Oh, I was talking about a pull request to this rebuilt. But if we can get that other pull request merged, that would be even better! :-)

[2017-07-29 02:17] paulmolluzzo commented on #254
It seems that having @burge-is's PR get finished and merged into `react-live` is a preferable solution than figuring out a workaround. From the looks of the gif it's pretty close. I guess it's a question of priorities for @kentcdodds, but since the blog post is still a WIP I am guessing we still have some time to see how that PR nets out. Amirite?

[2017-07-29 02:29] kentcdodds commented on #254
Yes agreed, and yes, we have time! 👍

[2017-08-03 03:48] kentcdodds commented on #254
Planning on publishing things tomorrow :)

[2017-08-03 03:58] kentcdodds commented on #254
I've taken care of this for the time being by publishing `@kentcdodds/temp-react-live` and using that. Will work for now :smile:

[2017-08-03 03:59] #254 closed

[2017-08-03 03:59] kentcdodds commented on #228
Re-ordering things would probably cause issues with translations I think, so I'm going to solve this a different way.

[2017-08-03 03:59] #228 closed

[2017-08-03 17:30] kentcdodds opened #257 "don't make the guide disappear when typing"
**Problem Description:**

![bad](https://user-images.githubusercontent.com/1500684/28934622-db2e5bdc-783e-11e7-8dac-a76a168376c7.gif)

This isn't a great experience. I don't think we need to do this everywhere, but at least on the guide where you're trying to type out what you see in the guide it's really annoying that it goes away.

**Suggested Solution:**

I think the best thing would be to impl

[2017-08-03 18:05] vernondegoede commented on #257
I'd love to help 🤠

[2017-08-03 18:05] kentcdodds commented on #257
Awesome! Thanks! I look forward to seeing your PR :smile:

[2017-08-04 17:41] IgorKonovalov opened #260 "Translate webslite into Russian"
Thanks for a great product!
I'm willing to help with Russian translation while I have some spare time. Anybody wants to join?

[2017-08-04 17:55] kentcdodds commented on #260
Awesome!

[2017-08-04 18:00] gitpash commented on #260
As a native speaker I could also help, great tool - profit for everybody!

[2017-08-05 09:27] IgorKonovalov commented on #260
Made an open trello board for coordinating efforts. https://trello.com/b/2VyIg1s0/glamoroustranslateru

[2017-08-07 11:49] ndelangen opened #265 "Mixed content warnings in console"
**Problem Description:**
When I visit a page and open the browser console, I am greeted by 4 wonderful warnings telling me that the secure page was unfortunately polluted by a few resources which were not served over https.

Here's what it looks like:
<img width="686" alt="screen shot 2017-08-07 at 13 46 11" src="https://user-images.githubusercontent.com/3070389/29025421-e3bca552-7b76-11e7-9906-e5

[2017-08-07 11:52] ndelangen commented on #265
#good-first-contribution ?

[2017-08-07 11:56] ndelangen commented on #179
Have you considered using CircleCI workflows to build in parallel?

[2017-08-07 12:35] paulmolluzzo commented on #204
![](https://www.viralviralvideos.com/wp-content/uploads/GIF/2014/12/Congratulations-You-Did-It-GIF-2015.gif)

[2017-08-07 12:35] #204 closed

[2017-08-07 12:38] paulmolluzzo commented on #205
![](https://media.tenor.co/images/c8adaa18494424aceea3b6a2104e8016/raw)

[2017-08-07 12:38] #205 closed

[2017-08-07 17:39] kentcdodds commented on #265
I looked at this before I think. I'm afraid that we don't control the link because it's a redirect :-(

But maybe someone could take a look.

[2017-08-07 17:39] kentcdodds commented on #179
I suppose we could try that. I've used CircleCI before... Maybe I should try it again...

[2017-08-07 19:26] paulmolluzzo commented on #265
If we want to use https://badge-size-mpcfddqqgp.now.sh/ it will work, but I opened an issue on the `badge-size` repo to upgrade to `https`. 🤞

[2017-08-07 20:07] luke-john opened #266 "Add note to typescript section about typescript version compatibility"
**Problem Description:**

The [Typescript documentation](https://glamorous.rocks/api#typescript) does not currently call out that the glamorous types rely on `2.4+` language features.

While they are still usable pre 2.4, the experience is not as good.

The following bug report, even if unrelated to the version, has screenshots of issues that will occur with typescript versions <2.4.

https://gith

[2017-08-08 17:50] goodmind commented on #222
@kentcdodds any progress here?

[2017-08-08 17:52] kentcdodds commented on #222
Here's an example of one thing you could do:

[code]

Would you like to make a real example to add to the docs? This would be great as an interactive example :+1:

[2017-08-08 18:30] goodmind commented on #222
@kentcdodds I don't see why this `className` can't be autogenerated?

[2017-08-08 18:32] kentcdodds commented on #222
I suppose it could, but generated class names that are non-deterministic are generally not good for server-side rendering. And honestly, this isn't really a practice that we want to encourage.

[2017-08-08 18:48] goodmind commented on #222
@kentcdodds I wonder how `styled-components` doing this

[2017-08-08 19:56] kentcdodds commented on #222
I'm not sure, but you can look at my attempt: https://github.com/paypal/glamorous/pull/183/files

It worked great, but it added complexity to the codebase to support a pattern we don't want to encourage anyway so I backed out of it. You should hopefully not be doing this a whole lot...

[2017-08-08 19:58] goodmind commented on #222
Well, I don't know how to do styling with props in my case
[code]

[2017-08-08 19:59] kentcdodds commented on #222
Sorry @goodmind. Could you make an example of what you're trying to do and share it here? Can base it on this: https://help.glamorous.rocks

[2017-08-08 20:16] goodmind commented on #222
@kentcdodds https://codesandbox.io/s/j2P5JVwo4

[2017-08-08 20:22] kentcdodds commented on #222
I see, and I agree that it does look a little clumsy. But not enough to justify complicating the API/implementation. I don't think that people will be doing this all that frequently... What do you suggest?

[2017-08-08 20:24] kentcdodds commented on #222
In addition, there are other ways to do what you're doing there which do not require you to reference components in your selectors (like, just don't render the avatar multiple times in any group). This would actually be more performant and probably more readable as well...

[2017-08-11 07:32] M-ZubairAhmed commented on #265
I dont know if it solves the problem but i looked into that code and changed http to https? Will this help
(I am sorry for being naive, this is my first)

[2017-08-11 21:54] kentcdodds commented on #265
Thanks @M-ZubairAhmed,
The problem is that even if we change our use from `http` to `https`, the service that does the redirect will redirect it to `http`. @paulmolluzzo's example seems to fix this problem. I think everything will be better as soon as [this issue](https://github.com/ngryman/badge-size/issues/62) is resolved.

Thanks!

[2017-08-12 03:31] M-ZubairAhmed commented on #265
oh yes I have seen that issue, thank you.

[2017-08-22 14:36] yuanchuan commented on #257
To place `<StyledLiveError />` inside the `<RightHandSide>` will prevent the editor from jumping when errors come.

It may help a bit until `react-live` provides an extra option to completely resolve the original issue.

[2017-08-22 14:41] kentcdodds commented on #257
That sounds great! Could you make a PR for that @yuanchuan?

[2017-08-22 14:58] yuanchuan commented on #257
😄 https://github.com/kentcdodds/glamorous-website/pull/272

[2017-08-22 23:02] Ailrun opened #273 "Test snapshot doesn't match in Windows 10"
**Problem Description:**
Snapshot has `/` in its content but as you know, Windows use `\\` to separate directory.
Therefore snapshot tests fails in Windows.

![image](https://user-images.githubusercontent.com/12473268/29591279-ccfa3950-876b-11e7-93ff-3baf311e2824.png)

**Suggested Solution:**
Sorry, I have no Idea.

[2017-08-22 23:03] Ailrun commented on #273
@kentcdodds
Is the core problem from https://github.com/babel-utils/babel-plugin-tester ?

[2017-08-22 23:30] kentcdodds commented on #273
Ah, that's disappointing! This will need to be fixed in this project. But I'm not 100% certain how to fix it. Might be able to use `formatResult` from `babel-plugin-tester`...

Could you look into it a little bit? Change would go [here](https://github.com/kentcdodds/glamorous-website/blob/c4f74b0adb252b55dd86b82d3149392dd6e25686/other/__tests__/babel-plugin-l10-loader.js#L15) (same for the `es` an

[2017-08-22 23:42] Ailrun commented on #273
@kentcdodds
I add some fifth wheel, now-cli also can't be installed in Windows.

[2017-08-22 23:44] kentcdodds commented on #273
Weeeird...

[2017-08-22 23:55] Ailrun commented on #273
@kentcdodds
As I understand, it takes considerable amount of time to solve because `require('babel-core').transform` doesn't support converting windows-like path to linux-like path, and to change result code manuelly, we need to parse result again, which actually babel already does.
Am I right?

[2017-08-23 00:02] Ailrun commented on #273
Ah, or maybe the problem is from https://github.com/kentcdodds/glamorous-website/blob/master/other/babel-plugin-l10n-loader.js ?

[2017-08-23 00:26] kentcdodds commented on #273
Yeah, should probably just use `path.normalize` in a few places in there...

[2017-08-23 06:39] Ailrun commented on #273
@kentcdodds
Hm? What `path.normalize` does is normalizing a path in that OS, not normalize a path from various OS, isn't it?
I can't understand what you mean... sorry for my short understanding.

[2017-08-23 19:12] kentcdodds commented on #273
Ah, yes, you're correct, `path.normalize` doesn't do what I expected. Either way, we need to ensure that the separator is `/` rather than `\`. Would you be willing to look into doing that work (considering you are able to reproduce it).

[2017-08-23 20:46] Ailrun commented on #273
@kentcdodds Ye I will

[2017-08-25 11:19] stoikerty commented on #222
Our team is in the process of migrating our small-but-growing app from sass to glamorous (it's been awesome so far!) and we've come across an issue where we need to style a child component based on the hover of a parent component. It sounds a lot like what you guys are talking about here.

This is the snippet of the original sass-implementation:
[code]

[code]

[2017-08-26 03:40] Ailrun commented on #273
@kentcdodds The significant problem is the fact that return value of `require.resolve` acts somewhat weird.
For example, if you use `console.error` on the result of `require.resolve` directly, it returns string of relative path from the importing module. However, if you use `console.error` on modified result of `require.resolve`, it returns string of absolute path from `C:` (or any drive you have

[2017-08-26 03:42] Ailrun commented on #273
For more detail example,

[code]

[2017-08-26 03:45] Ailrun commented on #273
@kentcdodds Using project-relative path for fallback error message is one way to solve this, but I don't think this is good UI.

[2017-08-26 20:38] istarkov commented on #222
@stoikerty see the example below,
Take careful about  `// here space is necessary`

[code]

in render

[code]

[2017-08-27 19:54] stoikerty commented on #222
Thanks @istarkov but this solution is not ideal and not scalable as it now requires me to track down and know all places where classnames are used which is arguably one of the things that brought me to `glamorous` and similar solutions like `styled-components` in the first place, not having to worry about classname collisions.

For modifiers via props I can just use the prop on both components whe

[2017-08-27 20:09] istarkov commented on #222
Seems like it's the only solution now, so does it scalable or ideal doesn't matter ;-)

[2017-08-27 23:06] stoikerty commented on #222
Maybe for now it doesn't matter but for the future it matters, I believe there can be a better way to do this and it's important for people to express the need, especially if [an attempt](https://github.com/kentcdodds/glamorous-website/issues/222#issuecomment-321064029) at solving this issue has already been made.

Nothing is set in stone ;)

[2017-08-28 15:45] kentcdodds commented on #273
Hmmm... Why don't you open a PR and we'll see what it looks like. Thanks so much @Ailrun!

[2017-08-28 15:50] kentcdodds commented on #222
@stoikerty,

"Not ideal" I agree with. As indicated in the attempt PR, it's a trade-off of choosing to not complicate the implementation in favor of enabling an infrequently and generally avoidable/undesirable pattern.

"not scalable" confuses me a little bit. One thing that you could do to improve that example @istarkov kindly provided would be:

[code]

[2017-08-29 20:00] stoikerty commented on #222
Thanks for further improving @istarkov's example.

What I mean by it not being scalable is that the hashing that glamourous is leveraging internally is not being used in this case, but it would be useful. Off the top of my head, there are 2 scenarios that I can think of why this matters.

_Scenario 1_ is a large application with about 10 people working on it where hoverable items are used extensiv

[2017-08-29 20:13] kentcdodds commented on #222
Thanks for the scenarios @stoikerty. I appreciate the shareable components use case, and I'm glad that you're considering glamorous for that. I think that it'll serve you extremely well.

Here's the way I feel about it:

1. Something has to be pretty compelling to add to the existing glamorous API
2. This pattern is not something we should encourage, so that reduces how compelling it is
3. This pa

[2017-08-29 20:23] istarkov commented on #222
About 3 its frequent use case at my work. We are using css modules with support of themr library, and having a daily changing requirements we just cant extend components api forever. Solutions like current allows us to make changes without making any interventions in controls api. Imo this is really needed feature.

[2017-08-29 20:25] istarkov commented on #222
BTW current solution is enougth for me even it does not solve all the edge cases, it solves mine

[2017-08-29 20:29] kentcdodds commented on #222
Ok, it's pretty clear folks want this feature. If someone wants to create a PR on the main repo to add it I'm happy to review (no promises). It needs to be well tested and as simple as possible. Please use [my original PR](https://github.com/paypal/glamorous/pull/183) as a reference because there were a few decisions I made in that PR that I think are important.

Thanks for the discussion everyone

[2017-08-30 09:00] stoikerty commented on #222
Sounds good @kentcdodds. I would love to contribute, might take me a while to parse the old PR and figure out contributing etc. Wouldn't be surprised if someone gets it done before me but I'm up for it, love creating simple API's :)

[2017-08-30 19:35] kentcdodds commented on #222
Ok, I'm more positive that folks want this so: https://github.com/paypal/glamorous/issues/316

[2017-09-03 04:01] luke-john commented on #266
https://github.com/kentcdodds/glamorous-website/pull/276

[2017-09-03 04:01] #266 closed

[2017-09-03 04:10] luke-john commented on #239
Hey @iGitScor thanks for doing the work on getting these docs translated to french. ❤️

I've just updated the english documentation for the typescript definitions, unfortunately my french is not good enough to update the translation.

[2017-09-03 04:17] luke-john opened #277 "The search does not always take you to the expected place"
**Problem Description:**

When searching for things on the glamorous website, the links sometimes take you to `https://glamorous.rocks/api#__next` rather than the heading on the page

![glamorous-search](https://user-images.githubusercontent.com/848525/30000508-9d15599c-90a1-11e7-9b8b-896bac0bfb44.gif)

**Suggested Solution:**

It looks like these titles on the pages don't actually have ids so wha

[2017-09-03 04:19] kentcdodds commented on #277
Yes, I'd love to fix that also! Thanks for bringing it up.

[2017-09-13 04:48] luke-john opened #279 "Remove usage of glamor insert for adding multiple rules"
**Problem Description:**

The website is currently using glamors insert api to add multiple rules, whilst this appears to be working, this api is only meant to take a single rule and would not work if glamor was in production mode according to the [documentation](https://github.com/threepointone/glamor/blob/master/docs/api.md#cssglobalselector-style-cssinsertcss).

https://github.com/kentcdodds/gl

[2017-10-15 03:48] #222 closed

[2017-10-15 04:07] #179 closed

[2017-10-15 04:29] #257 closed

[2017-10-15 04:46] kentcdodds commented on #194
Still want to get the site translated into German, but we no longer need to have this issue open.

[2017-10-15 04:46] #194 closed

[2017-10-15 04:47] #37 closed

[2017-10-15 04:47] #133 closed

[2017-10-20 17:35] andrew-codes opened #283 "Failing tests on newly pulled down repo"
**Problem Description:**
When running `npm start validate` on a freshly pulled down repo yields failing tests. Running the `npm start test` command shows failed tests with a more descriptive error message.

`npm start validate` CLI output
![2017-10-20_13-28-59](https://user-images.githubusercontent.com/1578436/31834177-204da80a-b59b-11e7-9b91-c3026223ae06.png)

**Environment**
- OSX
- node@8.7.0
-

[2017-10-20 18:12] kentcdodds commented on #283
Hmmm.. Yeah, that's weird. It looks like `babel-macros` is failing to be included in the transforms babel's using when running the tests. I'm not sure why though... I'll come back to this if I ever have time 😢

[2017-10-23 01:22] andrew-codes commented on #283
Ok, I will investigate further. I wanted to be sure I didn't miss a step but sounds like it could be an issue. I'll dig a bit deeper and see what I can find.

[2017-10-23 01:34] kentcdodds commented on #283
Thank you @andrew-codes!

[2017-10-31 14:38] guidobouman commented on #221
@tkh44 Is that in a production build? Because develop & production are different when comparing performance.

[2017-11-01 03:56] tkh44 commented on #221
This was in production @guidobouman. I resolved the issue by creating https://github.com/emotion-js/emotion. The fundamental problem with glamorous is that it invalidates glamor's WeakMap caching implementation resulting in complete style recalculation on ever render.

[2017-11-01 13:46] paulmolluzzo commented on #221
@tkh44 would you mind pointing out where that occurs? I'd be interested in learning more about that specifically. Thanks!

[2017-11-01 14:17] kentcdodds commented on #221
Wait... What? I was unaware of this. I'd like to know how that happens and how it can be fixed....... If it weren't you Kye, I'd say you were mistaken...

[2017-11-01 20:05] tkh44 commented on #221
When the glamor class name is calculated here https://github.com/paypal/glamorous/blob/73cbc5f6a92aa003387a073449f8b3136804ba8c/src/get-glamor-classname.js#L75 it returns a new array every time.

This causes a cache miss in Glamor's WeakMap cache.

https://github.com/threepointone/glamor/blob/master/docs/weakmaps.md#so-how-can-we-use-it-with-glamor

I don't know if there is anything you can do. Th

[2017-11-01 20:09] kentcdodds commented on #221
No worries on the tone. I didn't take it any more than a clarification. I'm just surprised because I was under the impression that we were taking advantage of the cache. I think I understand what's going on and I suppose there's some optimization we could do to ensure that if the styles are the same we use the same array. Thanks for sharing this insight!

I'm not going to personally pursue this an

[2017-11-09 17:27] knittingcodemonkey commented on #254
Has there been any movement on this? I'm looking into options for accessible and interactive code examples. This pull request would make react-live a viable option.

[2017-11-09 18:11] kentcdodds commented on #254
You should probably ask in https://github.com/FormidableLabs/react-live/pull/23
This issue's closed because we don't need it (we're on a fork until that PR's merged or the problem's solved another way).

[2018-01-05 05:34] pzi commented on #194
Happy to help out with German, want me to create a new issue similar to the [french one](239) @kentcdodds? :)

[2018-01-05 06:06] kentcdodds commented on #194
Hi @pzi! Feel free to just start opening pull requests. We do already have german added to the site, but there are some sections which are out of date or not yet translated :)

Note: every PR will need to be reviewed by a native speaker to be merged. Thanks!

[2018-01-05 06:17] pzi commented on #194
No worries, will do! I noticed the existing German translations and will keep the terminology used consistent as much as possible.

I've seen the 'native speaker review' requirement and will hopefully find someone to do so when I put up a PR :)

[2018-01-19 11:32] Powell-v2 commented on #277
Hey guys, just tested and the issue persists. Is it okay if I take a shot at fixing it?

[2018-01-19 11:42] paulmolluzzo commented on #277
@Powell-v2 Go for it! 👍

[2018-01-22 13:31] Powell-v2 commented on #277
As far as I understand, [`docsearch`](https://community.algolia.com/docsearch/documentation/) is used on the website. It correctly locates anchors which happen to be listed as *title* in `.md` file (they are also assigned an `#id` in DOM).

The problem is that everything else inside markdown files - `h1`'s, `h2`'s, etc. aren't links, and lack `#id`'s. While it's possible to break down long section

[2018-01-22 13:52] kentcdodds commented on #277
I'm pretty sure it's the `remark-html` plugin which we use right here: https://github.com/kentcdodds/glamorous-website/blob/71385e1c49cbe4d34a875f5b63a772e5b35d12fa/components/interactive-markdown.js#L116

Perhaps we just need to pass some options?

It could also be a problem in our next config here: https://github.com/kentcdodds/glamorous-website/blob/71385e1c49cbe4d34a875f5b63a772e5b35d12fa/next

[2018-01-22 16:32] Powell-v2 commented on #277
Thanks for the guidance, @kentcdodds! I think the issue is related to `marked`: custom heading is defined, but I can't find where in the code this renderer is used. According to docs, it has to be passed as an option:

[code]

Looks like setup is incomplete?

[2018-01-22 19:39] kentcdodds commented on #277
Hmmm... Interesting, actually I'm curious what this is even doing:

https://github.com/kentcdodds/glamorous-website/blob/5932b3551fabb66433a3682f1e0cb6c8450b3b86/next.config.js#L3-L12

that `renderer` isn't actually used anywhere else in the file. I think that @paulmolluzzo set this up if I'm not mistaken. Maybe he can shed some light into what's going on 🤔

[2018-02-04 22:45] Shayla303 commented on #283
I had the same issue pulling the repo down. You  do npm install and then do an npm install node as well. It updates the dependencies calling on the older version of node. I am on a mac and this solution worked for me.
<img width="657" alt="solution" src="https://user-images.githubusercontent.com/24359681/35783318-5405d2d2-09c2-11e8-9dc0-ae68a9c1c0a8.png">

I have issues running the start with nps,

[2018-04-17 17:27] paulmolluzzo commented on #265
badgesize.io just upgraded to `https`, which resolved this for us!

https://github.com/ngryman/badge-size/issues/62#issuecomment-382075277

[2018-04-17 17:27] #265 closed

[2018-04-17 17:33] kentcdodds commented on #265
Hooray!

[2018-05-23 13:53] kentcdodds opened #293 "Deploy is not working"
And I'm totally losing patience with this thing. At first the yarn install stalled, so I removed yarn and npm worked. But now the deploy is failing and I have no idea why and I don't really want to deal with it anymore. Feeling pretty fed up. All I wanted to do was deploy the unmaintained message. If someone else could figure out what's up that'd be cool.

I've built things locally and it appears

[2018-05-23 14:19] paulmolluzzo commented on #293
I can take a look, but not until at least tonight, sorry.

If there’s any error message that might help debug this please share.

[2018-05-23 19:27] kentcdodds commented on #293
Nothing more than what you can see in the travis build.

[2018-05-24 13:50] kentcdodds commented on #44
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:50] #44 closed

[2018-05-24 13:51] kentcdodds commented on #159
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:51] #159 closed

[2018-05-24 13:51] kentcdodds commented on #202
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:51] #202 closed

[2018-05-24 13:51] kentcdodds commented on #221
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:51] #221 closed

[2018-05-24 13:51] kentcdodds commented on #223
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:51] #223 closed

[2018-05-24 13:51] #239 closed

[2018-05-24 13:51] kentcdodds commented on #249
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:51] #249 closed

[2018-05-24 13:51] kentcdodds commented on #273
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:51] #273 closed

[2018-05-24 13:52] kentcdodds commented on #279
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:52] #279 closed

[2018-05-24 13:52] kentcdodds commented on #283
This project is now in an unmaintained status. Please see [the glamorous README](https://github.com/paypal/glamorous) for more information.

[2018-05-24 13:52] #283 closed

[2018-05-24 20:26] paulmolluzzo commented on #293
Pushed a debugging commit directly on `master` just to get some more info, but even that wasn't a success 😕

Any chance the token is invalid? The `UnhandledPromiseRejectionWarning: [object Object][object Object]` doesn't tell me much of anything.

Relevant part of the logs for reference

[code]

[2018-05-24 21:08] paulmolluzzo commented on #293
OK, I'm pretty convinced it's just something up with the `now` service. I can't even deploy a simple html file. https://test-xjfoyjcrua.now.sh/

A basic attempt at deploying a single locale fails locally:

[code]

I emailed Zeit to ask about this, but I say we just try trying again in a couple days. Just clicking rebuild in travis should do the trick I would think.

[2018-05-24 21:09] kentcdodds commented on #293
Thanks for looking into this! I'll remind myself in a few days.

[2018-12-06 20:08] kentcdodds commented on #293
I'm unable to dedicate any more time to this effort considering glamorous has been deprecated and there's a deprecation message now. I'm going to leave things as they are and archive the repo.

Thanks everyone who helped make glamorous the amazing thing it was <3

[2018-12-06 20:08] #293 closed, assigned to nobody